<template>
  <div class="container pt-8 pb-8">
    <!-- Verification part -->
    <div class="row no-gutters mb-5 mb-md-9">
      <div class="col-lg-6 text-white p-5 container-verification is-pending is-mail mb-5 mb-lg-0">
        <h2 class="text-display mb-4">Верификация на email адрес</h2>

        <div id="statePending">
          <p class="mb-7">
            Ако не сте получили email съобщение или elitsahristova@gmail.com е невалиден, предприемете едно от следните
            действия:
          </p>

          <div class="d-md-flex d-lg-block d-xl-flex align-items-center">
            <a href="#"
               class="btn btn-secondary mb-4 mb-md-0 mb-lg-4 mb-xl-0 d-block d-md-inline-block mr-md-4 mr-lg-0 mr-xl-4">Обновяване
              на
              email</a>
            <a href="#" class="btn btn-outline-secondary d-block d-md-inline-block js-confirm-mail">Изпращане на нов
              email</a>
          </div>
        </div>

        <div id="stateConfirmed" class="d-none">
          <p class="mb-7">Вашият email е успешено верифициран!</p>
        </div>
      </div>

      <div class="col-lg-6 text-white p-5 container-verification is-pending is-id">
        <h2 class="text-display mb-4">Потвърждаване на самоличност</h2>

        <div id="statePersonalityPending">
          <p class="mb-3">За да може да гарантираме, че вие сте реалния човек с регистрираните данни, ще се наложи да
            инсталирате мобилното
            приложение Evrotrust и да преминете през процеса на верификация.</p>
          <div class="d-md-flex align-items-center">
            <input type="text" class="form-control mb-4 mb-md-0 mr-md-4">
            <a href="#" class="btn btn-outline-secondary d-block d-md-inline-block js-confirm-personality">Изпрати</a>
          </div>
        </div>

        <div id="statePersonalityConfirmed" class="d-none">
          <p class="mb-7">Вашата самоличиност е успешно потвърдена!</p>
        </div>

      </div>
    </div>
    <!-- Verification part -->

    <!-- Main stats part -->
    <div class="row mb-7 mb-md-9">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <profitability-card/>
      </div>

      <div class="col-lg-6">
        <portfolio-card/>
      </div>
    </div>
    <!-- Main stats part -->

    <!-- Navigation part -->
    <div class="d-lg-flex justify-content-between align-items-center">
      <div class="mb-3 mb-lg-0">
        <div
          v-if="funds"
          class="dropdown"
        >
          <h2
            class="text-mega dropdown-toggle mb-5 mb-lg-0"
            id="dropdownMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selectedFundName }}
          </h2>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenu"
          >
            <button
              v-for="(fund, i) in funds"
              class="dropdown-item"
              type="button"
              @click="setFund(fund.id)"
              :key="i"
            >{{ fund.name_bg }}
            </button>
          </div>
          <p v-if="indicatorsLatestReady" class="small text-light mb-3 mb-lg-0">към дата: {{ indicatorsLatest.date | formatDate }}</p>
        </div>
      </div>

      <div>
        <ul class="nav nav-pills with-scroll" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-results-tab" data-toggle="pill" href="#pills-results"
               role="tab" aria-controls="pills-results" aria-selected="true">Резултати</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-description-tab" data-toggle="pill" href="#pills-description"
               role="tab" aria-controls="pills-description" aria-selected="false">Описание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-documents-tab" data-toggle="pill" href="#pills-documents"
               role="tab" aria-controls="pills-documents" aria-selected="false">Документи и отчети</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab"
               aria-controls="pills-faq" aria-selected="false">Въпроси и отговори</a>
          </li>
        </ul>
      </div>
    </div>
    <!--    <div style="width: 214px">-->
    <!--      <Datepicker-->
    <!--        class="form-control with-calendar-icon"-->
    <!--        :language="bg"-->
    <!--        v-model="selectedDate"-->
    <!--      >-->
    <!--      </Datepicker>-->
    <!--    </div>-->
    <!-- Navigation part -->

    <!-- Tabs -->
    <div class="tab-content" id="pills-tabContent">
      <!-- Results tab -->
      <div v-if="indicatorsLatestReady" class="tab-pane fade show active" id="pills-results" role="tabpanel" aria-labelledby="pills-results-tab">

        <!-- Stats -->
        <div class="row mb-6">
          <div class="col mb-3 mb-lg-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Нетна ст-т на активите</p>
              <p class="text-display">{{indicatorsLatest.nav}} лв</p>
            </div>
          </div>

          <div class="col mb-3 mb-lg-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Брой дялове в обръщение</p>
              <p class="text-display">{{indicatorsLatest.units}}</p>
            </div>
          </div>

          <div class="col mb-3 mb-lg-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Нетна ст-т на активите на дял</p>
              <p class="text-display">{{indicatorsLatest.navps | numFormat('0.0000')}} лв</p>
            </div>
          </div>

          <div class="col mb-3 mb-md-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Емисионна стойност на 1 дял</p>
              <p class="text-display">{{indicatorsLatest.purchase  | numFormat('0.0000')}} лв</p>
            </div>
          </div>

          <div class="col mb-3 mb-md-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Цена на изкупуване на 1 дял</p>
              <p class="text-display">{{indicatorsLatest.redemption  | numFormat('0.0000')}} лв</p>
            </div>
          </div>
        </div>
        <!-- Funds Indicators History-->
        <indicators-card/>

        <!-- Fund Securities -->
        <securities-card :securities="securities"/>


        <p class="small text-light">
          *Данните за доходността представят възвръщаемостта за минали периоди и не са гаранция за бъдещи резултати.
          Текущото представяне на фонда може да се различава от посочените цифри.
          Възвръщаемостта от инвестицията и инвестираната сума ще се пременят с измененията на финансовите пазари
          в зависимост от пазарната среда и Вие може да реализирате печалба или загуба в момента на продажбата на
          дяловете на фонда.</p>

      </div>
      <!-- Results tab -->

      <!-- Description tab -->
      <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
        <div class="row mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-header">
                <h2 class="text-title">Основна информация</h2>
              </div>
              <div class="card-body">
                <div class="table-row">
                  <p class="small text-light">Тип</p>
                  <p class="text-body text-md-right">Балансиран до умерено висок риск</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Страна</p>
                  <p class="text-body text-md-right">България</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Регистрация</p>
                  <p class="text-body text-md-right">05 август 2009</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Валута</p>
                  <p class="text-body text-md-right">Български лев (BGN)</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Банка депозитoр</p>
                  <p class="text-body text-md-right">Юробанк България АД</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Регулиран пазар</p>
                  <p class="text-body text-md-right">Не се търгува</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Фокус</p>
                  <p class="text-body text-md-right">Акции на емитенти от технологичния сектор</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h2 class="text-title">Детайли</h2>
              </div>
              <div class="card-body">
                <div class="table-row">
                  <p class="small text-light">Минимална инвестиция</p>
                  <p class="text-body text-md-right">200.00 лв</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Препоръчителен срок</p>
                  <p class="text-body text-md-right">3 години</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Такса при емитиране</p>
                  <p class="text-body text-md-right">0.25%</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Такса при обратно изкупуване</p>
                  <p class="text-body text-md-right">0.25%</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Такса за управление</p>
                  <p class="text-body text-md-right">2.00%</p>
                </div>
                <div class="table-row">
                  <p class="small text-light">Такса за постигнат положителен резултат</p>
                  <p class="text-body text-md-right">20.00%</p>
                </div>
                <p class="small text-light mt-4">* Всички такси и комисиони са отразени в цената на дял</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-header is-justified">
            <h2 class="text-title mb-3 mb-lg-0">Примерна инвестиция на 10 000 единици</h2>
            <div>
              <ul class="nav nav-pills with-scroll mb-3" id="pills-tab-years" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-1year-tab" data-toggle="pill" href="#pills-1year"
                     role="tab" aria-controls="pills-1year" aria-selected="true">1 година</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-3year-tab-tab" data-toggle="pill" href="#pills-3year-tab"
                     role="tab" aria-controls="pills-3year-tab" aria-selected="false">3 години</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-5year-tab-tab" data-toggle="pill" href="#pills-5year-tab"
                     role="tab" aria-controls="pills-5year-tab" aria-selected="false">5 години</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body with-chart">
            <div class="tab-content" id="pills-tabContentYears">
              <div class="tab-pane fade show active" id="pills-1year" role="tabpanel" aria-labelledby="pills-1year-tab">
                <!-- Chart -->
                <div class="container-chart">
                  <canvas id="example-investment"></canvas>
                </div>
                <!-- Chart -->
              </div>
              <div class="tab-pane fade" id="pills-3year-tab" role="tabpanel" aria-labelledby="pills-3year-tab-tab">
                ...
              </div>
              <div class="tab-pane fade" id="pills-5year-tab" role="tabpanel" aria-labelledby="pills-5year-tab-tab">
                ...
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-header">
                <h2 class="text-title">Срокове</h2>
              </div>
              <div class="card-body">
                <p class="small text-light">
                  Поръчките за продажба и/или обратно изкупуване на дялове на Фонда, подадени преди 16:00 часа на
                  работния ден,
                  се считат подадени в същия този ден.
                  <br><br>
                  Поръчките за продажба и/или за обратно изкупуване на дялове на Фонда, подадени след 16:00 часа на
                  работния ден,
                  се считат подадени на следващия работен ден.
                  <br><br>
                  Вложените средства заедно с доходността могат да се изтеглят своевременно - изплащат се минимум 3
                  работни дни след подадена поръчка.
                </p>

                <p class="mt-5">
                  <a href="#" class="link-primary">Въпроси и отговори</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h2 class="text-title">Стратегия</h2>
              </div>
              <div class="card-body with-border-top">
                <p class="small text-light">
                  Основна цел на инвестиционната дейност на Фонда е запазване на реалната стойност и нарастване на
                  направените
                  инвестиции в дългосрочен план чрез реализиране на максималния възможен доход при поемане на умерен до
                  висок
                  риск и осигуряване на ликвидност на притежателите на дялове.
                  <br><br>
                  Реализираният доход не се разпределя между притежателите на дялове, а се реинвестира и увеличава
                  стойността
                  на дяловете. Ръстът се осигурява чрез инвестиране във високодоходни активи, а управлението на риска –
                  посредством
                  техники за диверсифициране и взаимно съчетаване на активите. Сред основните цели на Фонда е и
                  осигуряване на
                  ликвидност - както на неговите собствени инвестиции, така и на инвестициите в дялове на Фонда.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Description tab -->

      <!-- Documents tab -->
      <div class="tab-pane fade" id="pills-documents" role="tabpanel" aria-labelledby="pills-documents-tab">
        <div class="card">
          <div class="card-header">
            <h2 class="text-title">Документи и отчети</h2>
          </div>
          <div class="card-body with-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Дата</th>
                  <th scope="col">Име</th>
                  <th scope="col">Изтегли</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>08 ное 2018</td>
                  <td>Решение на КФН за издаване на разрешение по чл. 107, ал.2 във връзка с член 108 от "Наредба N
                    44"
                  </td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>07 ное 2018</td>
                  <td>Покана до кредиторите на ДФ "Smart Tech"</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>31 окт 2018</td>
                  <td>ПОбобщена информация за структурата на портфейла на ДФ "Smart Tech" към 31 октомври 2018</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>08 ное 2018</td>
                  <td>Решение на КФН за издаване на разрешение по чл. 107, ал.2 във връзка с член 108 от "Наредба N
                    44"
                  </td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>07 ное 2018</td>
                  <td>Покана до кредиторите на ДФ "Smart Tech"</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>31 окт 2018</td>
                  <td>ПОбобщена информация за структурата на портфейла на ДФ "Smart Tech" към 31 октомври 2018</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>08 ное 2018</td>
                  <td>Решение на КФН за издаване на разрешение по чл. 107, ал.2 във връзка с член 108 от "Наредба N
                    44"
                  </td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>07 ное 2018</td>
                  <td>Покана до кредиторите на ДФ "Smart Tech"</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>31 окт 2018</td>
                  <td>ПОбобщена информация за структурата на портфейла на ДФ "Smart Tech" към 31 октомври 2018</td>
                  <td class="text-center"><a href="#"><i class="far fa-download"></i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Documents tab -->

      <!-- FAQ tab -->
      <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
        <div class="card mb-7">
          <div class="card-header">
            <h2 class="text-title">Въпроси и отговори</h2>
          </div>
          <div class="card-body">
            <div class="accordion" id="accordionQandA">

              <div class="accordion-item">
                <div class="accordion-header" id="heading1">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse1"
                     aria-expanded="false" aria-controls="collapse1">
                    <span class="text-title">Какъв е рисковият профил на фонда?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях. Възможността за непрекъснат достъп до парите си и липсата на данък печалба са
                    важни мотиви при избора на инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading2">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse2"
                     aria-expanded="false" aria-controls="collapse2">
                    <span class="text-title">В какво инвестира фондът?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading3">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse3"
                     aria-expanded="false" aria-controls="collapse3">
                    <span class="text-title">В каква валута е инвестицията във фонда?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading4">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse4"
                     aria-expanded="false" aria-controls="collapse4">
                    <span class="text-title">За какъв тип инвеститори е подходящ този фонд?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading5">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse5"
                     aria-expanded="false" aria-controls="collapse5">
                    <span class="text-title">Какви такси се плащат на фонда?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта им
                    на живот, заради което те са готови да рискуват и да се опитат да получат много висока възвръщаемост
                    за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading6">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse6"
                     aria-expanded="false" aria-controls="collapse6">
                    <span class="text-title">По какви цени си купувам дялове от фонда?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading7">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse7"
                     aria-expanded="false" aria-controls="collapse7">
                    <span class="text-title">Как мога да изтегля пари?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading8">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse8"
                     aria-expanded="false" aria-controls="collapse8">
                    <span class="text-title">Какви данъци трябва да плащам ако спечеля?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта
                    им на живот, заради което те са готови да рискуват и да се опитат да получат много висока
                    възвръщаемост за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading9">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse9"
                     aria-expanded="false" aria-controls="collapse9">
                    <span class="text-title">Как разбирам какво печеля?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта им
                    на живот, заради което те са готови да рискуват и да се опитат да получат много висока възвръщаемост
                    за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" id="heading10">
                  <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse10"
                     aria-expanded="false" aria-controls="collapse10">
                    <span class="text-title">Как съм защитен от измами?</span>
                    <span class="d-none d-md-flex accordion-icon">
                    <i class="far fa-plus"></i>
                    <i class="far fa-minus"></i>
                  </span>
                  </p>
                </div>

                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionQandA">
                  <div class="accordion-body text-lead text-slate">
                    Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и
                    стандарта им
                    на живот, заради което те са готови да рискуват и да се опитат да получат много висока възвръщаемост
                    за тях.
                    Възможността за непрекъснат достъп до парите си и липсата на данък печалба са важни мотиви при
                    избора на
                    инвестицията в този фонд.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- FAQ tab -->
    </div>
    <!-- Tabs -->

  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import { bg, en } from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import ProfitabilityCard from './ProfitabilityCard.vue';
import PortfolioCard from './PortfolioCard.vue';
import IndicatorsCard from './IndicatorsCard.vue';
import SecuritiesCard from './SecuritiesCard.vue';

export default {
  name: 'Funds',
  data() {
    return {
      en,
      bg,
      currentTime: '',
    };
  },
  components: {
    SecuritiesCard,
    ProfitabilityCard,
    PortfolioCard,
    IndicatorsCard,
  },
  computed: {
    ...mapState('settings', [
      'funds',
      'fundsObj',
      'selectedFundId',
      'selectedFundName',
    ]),
    ...mapGetters('settings', {
      // aliasing indicators, latest, and securities lists filtered to the current selected fund
      securities: 'securitiesFiltered',
      indicators: 'indicatorsFiltered',
      indicatorsLatest: 'indicatorsLatestFiltered',
    }),
    ...mapGetters('settings', [
      'fundsReady',
      'indicatorsLatestReady',
      'indicatorsReady',
      'securitiesReady',
    ]),
  },
  methods: {
    ...mapActions('settings', [
      'fetchFunds',
      'fetchProfitability',
      'fetchUnits',
      'fetchIndicatorsLatest',
      'fetchIndicatorsAll',
      'fetchSecuritiesAll',
      'setFund',
    ]),
    ...mapActions(['fetchProfile']),
  },
  mounted() {
    moment.locale('bg');
    this.fetchFunds();
    this.fetchProfile();
    this.fetchProfitability();
    this.fetchUnits();
    this.fetchIndicatorsLatest();
    this.fetchSecuritiesAll();
    this.fetchIndicatorsAll();
  },
};
</script>

<style scoped>
  .col-lg-5th {
    width: 20%;
  }
  .text-light {
    font-size: 1rem;
  }
</style>
