<template>
  <div class="card mb-5" v-if="indicatorsReady">
    <div class="card-header is-justified">
      <h2 class="text-title mb-3 mb-md-0">{{ selectedFundName }}</h2>
      <div>
        <ul class="nav nav-pills with-scroll mb-3" id="results-pills-tab-years" role="tablist">
          <li v-for="(range, i) in ranges" :key="i" class="nav-item">
            <span
              class="nav-link"
              :class="{'active': range.active}"
              data-toggle="pill"
              role="tab"
              @click="setRange(range)"
            >
              {{ range.name }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body with-chart">
      <!-- Chart -->
      <div class="container-chart" style="height: 390px;">
        <indicators-chart :indicators-data="filteredIndicators"/>
      </div>
    </div>
  </div>
</template>

<script>
import IndicatorsChart from '@/components/Charts/IndicatorsChart';
import moment from 'moment';
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'IndicatorsCard',
  components: { IndicatorsChart },
  data() {
    return {
      ranges: [
        {
          name: '1 седмица',
          amount: 7,
          unit: 'days',
          active: false,
        },
        {
          name: '1 месец',
          amount: 1,
          unit: 'months',
          active: false,
        },
        {
          name: '6 месеца',
          amount: 6,
          unit: 'months',
          active: true,
        },
        {
          name: '1 годинa',
          amount: 1,
          unit: 'years',
          active: false,
        },
        {
          name: '3 години',
          amount: 3,
          unit: 'years',
          active: false,
        },
        {
          name: 'Max (All time)',
          amount: 100, // should be enough for everybody... :)
          unit: 'years',
          active: false,
        },
      ],
      activeRange: {}, // this gets it's initial value in created()
    };
  },
  created() {
    // initialize activeRange
    this.activeRange = this.ranges.find(r => r.active === true);
  },
  methods: {
    setRange(range) {
      console.debug(`"${range.name}": ${range.amount} "${range.unit}"`);
      this.activeRange = range;
    },
  },
  computed: {
    filteredIndicators() {
      const minDate = moment(moment.now()).subtract(this.activeRange.amount, this.activeRange.unit).format('YYYY-MM-DD');
      return this.indicators.filter(i => i.date > minDate);
    },
    ...mapGetters('settings', {
      indicators: 'indicatorsFiltered', // filtered in the store on selected fund
      indicatorsReady: 'indicatorsReady',
    }),
    ...mapState('settings', [
      'selectedFundName',
    ]),
  },
};
</script>

<style scoped>

</style>
