<template>
  <div class="card">
    <div class="card-header is-justified">
      <div>
        <h2 class="text-title">Моят портфейл</h2>
        <p class="small text-light mb-3 mb-lg-0">към дата: {{ currentDate | formatDate }}</p>
      </div>
      <p class="text-md-right">{{ `Общо: ${totalAssets.toFixed(2)} лв` }}</p>
    </div>
    <div class="card-body with-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ДФ</th>
            <th scope="col" class="text-right">Брой дялове</th>
            <th scope="col" class="text-right">Нетна ст-т на активи</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="fund in owned" :key="fund.fund_id">
            <td>{{ fund.name_bg }}</td>
            <td class="text-right cell-numeric">
              <strong v-if="ready">{{ fund.units.toFixed(0) }}</strong>
              <!--<strong v-if="fund.units!==undefined">{{ fund.units.toFixed(0) }}</strong>-->
            </td>
            <td class="text-right cell-numeric">
              <span v-if="ready">{{ `${fund.assets.toFixed(2)} лв` }}</span>
              <!--<span v-if="fund.assets!==undefined">{{ `${fund.assets.toFixed(2)} лв` }}</span>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'PortfolioCard',
  data() {
    return {
      currentDate: new Date(),
    };
  },
  computed: {
    ...mapState('settings', [
      'owned',
      'fundsObj',
    ]),
    ready() {
      return Boolean(this.owned.length) && Boolean(Object.keys(this.fundsObj).length);
    },
    totalAssets() {
      return this.owned.reduce((total, a) => total + a.assets, 0);
    },
  },
};
</script>

<style scoped>

</style>
