<template>
  <div class="card">
    <div class="card-header">
      <div>
        <h2 class="text-title">Моята доходност</h2>
      </div>

    </div>
    <div class="card-body with-chart">
      <div class="container-chart is-small" style="height: 217px;">
        <div class="container" v-if="profitabilityReady && fundsReady">
          <profitability-chart
            :profitability="profitability"
            :fundsObj="fundsObj"
            style="height: 217px;"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import ProfitabilityChart from '@/components/Charts/ProfitabilityChart';


export default {
  name: 'ProfitabilityCard',
  components: { ProfitabilityChart },
  computed: {
    ...mapState('settings', [
      'profitability',
      'fundsObj',
    ]),
    ...mapGetters('settings', [
      'profitabilityReady',
      'fundsReady',
    ]),
  },
};
</script>

<style scoped>

</style>
