<template>
<div class="card mb-7" v-if="securitiesReady">
  <div class="card-header">
    <h2 class="text-title">Портфолио</h2>
    <p class="small text-light">към дата: {{ securities[0].date | formatDate }}</p>
  </div>
  <div class="card-body with-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Компания</th>
          <th scope="col">Тегло</th>
          <th scope="col">Тикер</th>
          <th scope="col" class="text-right">Пазарна цена</th>
          <th scope="col" class="text-right">Бр. акции във фонда</th>
          <!--<th scope="col">Валута</th>-->
          <!--<th scope="col" class="text-right">Пазарна цена (BGN)</th>-->
          <!--<th scope="col" class="text-right">Пазарна капитализация ($)</th>-->
        </tr>
        </thead>
        <tbody>
        <tr v-for="(s, i) in securitiesSorted" :key="i">
          <td>{{ s.company }}</td>
          <td>{{ s.weight | numFormat('0.00')}}%</td>
          <td>{{ s.ticker }}</td>
          <td class="text-right cell-numeric">{{ s.price_per_share | numFormat('0.00') }} {{ s.currency }}</td>
          <td class="text-right cell-numeric">{{ s.count_securities }}</td>
          <!--<td class="text-right cell-numeric">{{ s.price_per_share }}</td>-->
          <!--<td class="text-right cell-numeric">{{ s.price_per_share_bgn }}</td>-->
          <!--<td>{{ s.total_bgn | numFormat('000000.00')}}</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'SecuritiesCard',
  props: {
    securities: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapGetters('settings', [
      'securitiesReady',
    ]),
    securitiesSorted() {
      return [...this.securities].sort((a, b) => b.weight - a.weight);
    },
  },
};
</script>

<style scoped>

</style>
