
#app {
  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }
}

#buySharesModal {
  //background-color: #657bfc;
  .modal-header {
    padding-bottom: 0;
  }
  .modal-body {
    background-color: #fff;
  }
  .modal-footer {
    padding: 0 !important;
  }
}

.modal-backdrop {
  background-color: #657bfc;
}

.b-dropdown {
  .dropdown-toggle {
    padding: 9px 0;
  }
}

.btn-primary {
  box-shadow: 0 4px 8px 0 rgba(64, 80, 251, 0.49), 0 6px 20px 0 rgba(64, 80, 251, 0.49);
}

.custom-radio {
  padding-bottom: 10px !important;
}

//.was-validated .form-control:invalid, .form-control.is-invalid {
//  background-position: center right -3px;
//  border: 1px solid #ff6d6d;
//  padding-right: calc(1.3em + 5px);
//}

.fade-enter-active, .fade-leave-active {
  transition: opacity .9s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.vdp-datepicker {
  input {
    width: 100% !important;
  }
}

.custom-form-control:after {
  right: 5px !important;
}

.profile-image {
  img {
    border-radius: 50%;
  }
}

.dropdown-menu-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 9px 32px;
  font-size: 1.125rem;
  line-height: 1.45;
  border-radius: 28px;
  letter-spacing: 0.2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(64, 80, 251, 0.49), 0 6px 20px 0 rgba(64, 80, 251, 0.49);
  color: #ffffff;
  background-color: #4050fb;
  border: 2px solid transparent;
}

#customdropzone {
  background-color: orange;
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.2px;
  color: #777;
  transition: background-color .2s linear;
  height: 200px;
  padding: 40px;
}

#customdropzone .dz-preview {
  width: 160px;
  display: inline-block
}
#customdropzone .dz-preview .dz-image {
  width: 80px;
  height: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
}
#customdropzone .dz-preview .dz-image > div {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-size: contain;
}
#customdropzone .dz-preview .dz-image > img {
  width: 100%;
}

#customdropzone .dz-preview .dz-details {
  color: white;
  transition: opacity .2s linear;
  text-align: center;
}
#customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
  display: none;
}
