// Base & resets
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

strong {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// Helpers
.flex-1 {
  flex: 1;
}

// Body styles
.overlay {
  position: fixed;
  z-index: 0;
  width: 0;
  height: 0;
  opacity: 0;

  background-color: $dark;
  transition: opacity 0.2s;
}

.in-menu-mode,
.in-user-mode {
  &,
  body {
    overflow: hidden;
    height: 100%;
  }

  .overlay {
    z-index: 2;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
  }
}

// Containers
.container {
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

// Sections
.section {
  overflow: hidden;
}

// Main layout elements
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: $white;

  &.is-logged {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 5px 0 rgba(0, 9, 43, 0.07),
              0 3px 14px 3px rgba(0, 9, 43, 0.06),
              0 8px 10px 1px rgba(0, 9, 43, 0.05);
  }

  @include media-breakpoint-up(lg) {
    &.is-logged {
      padding: 0 24px;
      align-items: stretch;
    }
  }
}

.header-icon,
.user-icon {
  @include flex-center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: $grey;
  cursor: pointer;

  .fa-times {
    display: none;
  }
}

.in-menu-mode .header-icon {
  .fa-times {
    display: block;
  }

  .fa-bars {
    display: none;
  }
}

.in-user-mode .user-icon {
  .fa-times {
    display: block;
  }

  .fa-user {
    display: none;
  }
}

.logo {
  display: block;
  width: 96px;
  height: 32px;
}

.content {
  padding-top: 80px;
  flex: 1;
  background-color: $light;

  &.not-logged {
    padding-top: 0;
  }
}

.footer {
  background-color: $white;
  padding: 16px 0;
}

.vdp-datepicker {
  padding: 0;

  input {
    padding: 8px;
  }

  &.with-calendar-icon {
    .form-control {
      padding-right: 48px;
    }

    &:after {
      content: "\f073";
      position: absolute;
      bottom: 7px;
      right: 18px;
      font-family: "Font Awesome 5 Pro";
      font-size: 24px;
      color: $primary;
    }
  }

}
