// Menu
.menu {
  display: flex;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.menu-link {
  @include flex-center;
  height: 100%;
  font-size: 18px;
  line-height: 1.33;
  color: grey;
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(xl) {
    padding-left: 24px;
    padding-right: 24px;
  }

  &:hover,
  .menu-item.active & {
    color: $dark;
    text-decoration: none;
    background-color: $pale;
    box-shadow: inset 0 -2px 0 0 $primary;
  }
}

.menu-device {
  position: fixed;
  z-index: 3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 297px;
  background-color: $light;
  top: 80px;
  height: calc(100% - 80px);

  transition: transform 0.2s;

  &.is-main {
    left: 0;
    transform: translate3d(-100%, 0, 0);

    .in-menu-mode & {
      transform: translate3d(0, 0, 0);
    }
  }

  &.is-user {
    right: 0;
    transform: translate3d(100%, 0, 0);

    .in-user-mode & {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu {
    flex-direction: column;

    .menu-link {
      padding: 30px 24px;
      justify-content: flex-start;

      &:hover {
        color: $dark;
        text-decoration: none;
        background-color: $pale;
        box-shadow: inset -2px 0 0 0 $primary;
      }
    }

    .menu-item.active .menu-link {
      color: $dark;
      text-decoration: none;
      background-color: $pale;
      box-shadow: inset -2px 0 0 0 $primary;
    }
  }
}

.menu-icon {
  margin-right: 8px;
}

.user-menu-icon {
  color: $grey;
  font-size: 20px;
  margin-right: 8px;
}

.menu-header {
  padding: 32px 24px 16px 24px;
}

.menu-footer {
  padding: 24px;
  border-top: 1px solid $steel;
}

.link-danger {
  &,
  i {
    color: $danger !important;
  }

  &:hover {
    color: $danger;
    text-decoration: none;
  }
}
