// Mixins and functions
@mixin text() {
  font-family: $font-family-primary;
  font-weight: normal;
}

@function texts-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Classes
@each $size in map-keys($texts) {
  .text-#{$size} {
    @include text;
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}

// Custom styles
.text-mega {
  letter-spacing: 0.1px;

  &.is-conv {
    line-height: 2;
    overflow: hidden;
  }
}

.text-display {
  letter-spacing: 0.1px;
}

.text-headline {
  letter-spacing: 0.2px;
}

.text-title {
  letter-spacing: 0.1px;
  font-weight: 500;
}

// Links
.link {
  color: $body-color;
  text-decoration: none;

  &:hover {
    color: $body-color;
    text-decoration: underline;
  }
}

.link-primary {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.link-dark {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: $dark;
    text-decoration: underline;
  }
}

.link-grey {
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $grey;
    text-decoration: underline;
  }
}
