// Buttons
.btn {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-size, $btn-line-height, $btn-border-radius);
  letter-spacing: 0.2px;
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  font-weight: 500;
}

.btn-link {
  color: $steel;

  &:hover {
    text-decoration: none;
    color: $grey;
  }
}

@include media-breakpoint-down(sm) {
  button.d-block {
    width: 100%;
  }
}

// Tables
.table {
  margin-bottom: 0;
  line-height: 1.333;

  @include media-breakpoint-up(md) {
    th, td {
      &:first-child,
      &:last-child {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }

  thead {
    th {
      border-bottom: 0;
    }
  }
}

.table-responsive {
  background:
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background-repeat: no-repeat;
  background-size: 10px 100%;

  & > .table {
    background:
      linear-gradient(to right, $white 30%, rgba(255,255,255,0)),
      linear-gradient(to left, $white 30%, rgba(255,255,255,0)) 100% 0;
    background-size: 50px 100%;
    background-repeat: no-repeat;
    max-width: none;
  }
}

.table-row {
  border-top: 1px solid $steel;
  padding: 12px 0;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.no-border {
    border-top: 0;
    padding: 0;
  }
}

.cell-numeric {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

th {
  font-weight: normal;
  color: $grey;
}

// Forms
.form-row {
  margin-right: -12px;
  margin-left: -12px;

  > .col,
  > [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
}

label {
  color: $slate;
  font-size: 17px;
  line-height: 1.2;
}

.form-group {
  position: relative;
  margin: 0;

  &.with-search-icon {
    .form-control {
      padding-right: 48px;
    }

    &:after {
      content: "\f002";
      position: absolute;
      bottom: 7px;
      right: 18px;
      font-family: "Font Awesome 5 Pro";
      font-size: 24px;
      color: $primary;
    }
  }
}

.form-control {
  font-size: 20px;

  &.is-invalid {
    &:focus {
      box-shadow: 0 0 0 1px $danger;
    }
  }
}

button.form-control {
  width: auto;
  padding: 10px 17px;
  cursor: pointer;

  i {
    color: $grey;
  }
}

.custom-form-control {
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 16px;

  border: 0;
  box-shadow: 0 2px 16px 0 rgba(62, 71, 84, 0.1);

  transition: width 0.2s;

  &:focus {
    border-color: transparent;
    box-shadow: 0 2px 16px 0 rgba(62, 71, 84, 0.24);
  }

  &::placeholder {
    color: $steel;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
  }

  &.js-conv-input,
  &.js-conv-dropdown {
    display: none;
  }

  &.is-selected {
    color: $dark;
  }

  @at-root {
    span#{&} {
      position: relative;
      width: auto;
      color: $steel;
      padding-right: 40px;
      cursor: pointer;

      &:after {
        content: "\f175";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        color: $primary;
        font-size: 26px;
        position: absolute;
        top: 8px;
        right: 25px;
      }
    }
  }
}

// Custom select
.custom-select-wrapper {
  position: relative;

  .custom-select {
    background-image: none;
  }

  &:after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50%, -50%);
    color: $grey;
    pointer-events: none;
  }
}

// Custom controls
.custom-control {
  padding-left: 32px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.custom-control-label {
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;

  &:before {
    width: 24px;
    height: 24px;
    top: 0;
    left: -32px;
    background-color: $white;
    border: 2px solid $steel;
  }

  &:after {
    width: 24px;
    height: 24px;
    top: 0;
    left: -32px;
  }
}

// Checkbox
.custom-checkbox {
  .custom-control-label {
    &:before {
      border-radius: 2px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      border-color: $primary;
    }

    &:after {
      content: "\f00c";
      background-image: none;
      font-family: "Font Awesome 5 Pro";
      position: absolute;
      top: -1px;
      left: -28px;
      font-size: 17px;
      color: $white;
      border-radius: 50%;
    }
  }
}

// Radio
.custom-radio {
  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      border-color: $primary;
      background-color: $white;
    }

    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: -27px;
      background-image: none;
      width: 14px;
      height: 14px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

// Valid & Invalid states
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px $primary;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px $danger;
}

// Nav, tabs & pills
.nav {
  flex-wrap: nowrap;

  &.with-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;

    .nav-item {
      white-space: nowrap;
    }
  }
}

.nav-link {
  color: $steel;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.nav-tabs {
  .nav-link {
    border: 0;

    &:hover {
      color: $dark;
    }

    &.active {
      border-bottom: 2px solid $primary;
    }
  }
}

.nav-pills {
  .nav-link {
    color: $grey;
    font-size: 14px;
    line-height: 1;
    padding-top: 9px;
    padding-bottom: 9px;
    letter-spacing: 0.2px;
    font-weight: 400;
    border: 2px solid transparent;

    &.active {
      font-weight: bold;
      border: 2px solid $steel;
    }
  }
}

.tab-content {
  &,
  &.card-body {
    padding-top: 40px;
  }
}

// Cards
.card {
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 9, 43, 0.07), 0 3px 14px 3px rgba(0, 9, 43, 0.06), 0 8px 10px 1px rgba(0, 9, 43, 0.05);
}

.card-header {
  padding: 24px 16px;
  background-color: transparent;
  border-bottom: 0;

  @include media-breakpoint-up(md) {
    padding: 24px;
  }

  &.is-justified {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.card-body {
  padding: 16px;

  @include media-breakpoint-up(md) {
    padding: 16px 24px;
  }

  &.with-table {
    padding-left: 0;
    padding-right: 0;
  }

  &.with-chart {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// Modals
.modal-content {
  box-shadow: 0 8px 10px 0 rgba(0, 9, 43, 0.14), 0 6px 30px 5px rgba(0, 9, 43, 0.12), 0 16px 24px 2px rgba(0, 9, 43, 0.1);
  border-radius: 5px;

  &.is-white {
    background-color: $white;
  }
}

.modal-header {
  background-color: $white;
}

.modal-body {
  padding-bottom: 20px;
}

.modal-footer {
  padding-top: 20px;
  justify-content: flex-start;

  &.with-border {
    border-top: 1px solid $steel;
  }
}

.modal-icon {
  font-size: 32px;
}

// Dropdowns
.dropdown-toggle {
  cursor: pointer;

  &:after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    color: $grey;
    width: auto;
    height: auto;
    border: none;
    vertical-align: initial;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 9, 43, 0.07), 0 3px 14px 3px rgba(0, 9, 43, 0.06), 0 8px 10px 1px rgba(0, 9, 43, .05);
}

.dropdown-item {
  color: $grey;
  padding-left: 16px;

  i {
    font-size: 16px;
  }

  &:active,
  &.active {
    i {
      color: $white;
    }
  }
}

.dropdown-icon {
  color: $grey;
  font-size: 14px;
  margin-right: 8px;
}

// Containers
.container-border-top {
  border-top: 2px solid $steel;
}

.container-verification {
  border-radius: 6px;
  padding: 24px;
  background-repeat: no-repeat;
  background-position: right top;

  &.is-pending {
    background-color: $primary;
  }

  &.is-confirmed {
    background-color: $success;
  }

  &.is-mail {
    background-image: url('../img/mail-icon.svg');

    @include media-breakpoint-up(lg) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.is-id {
    background-image: url('../img/id-icon.svg');

    @include media-breakpoint-up(lg) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.container-news {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 9, 43, 0.14), 0 2px 2px 0 rgba(0, 9, 43, 0.12), 0 0 2px 0 rgba(0, 9, 43, 0.12);
}

.container-news-inner {
  p {
    color: $grey;
    margin-bottom: 24px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  blockquote {
    border-left: 2px solid $dark;
    padding-left: 24px;

    p {
      color: $dark;
    }
  }

  ul {
    color: $grey;
    margin-bottom: 24px;
    padding-left: 24px;
    list-style-type: initial;

    li {
      margin-bottom: 16px;
    }
  }
}

.container-gray-rounded {
  background-color: $light;
  border-radius: $border-radius;
  padding: 12px 16px 8px 16px;

  @include media-breakpoint-up(md) {
    padding: 24px 32px 16px 32px;
  }
}

.container-upload {
  padding: 94px 0;
  text-align: center;
  border-radius: 4px;
  border: 1px dashed $steel;
}

.container-upload-icon {
  font-size: 64px;
  color: $steel;
}

.container-chart {
  position: relative;
  width: 100%;
  height: 350px;

  &.is-small {
    height: 217px;
  }
}

// Accordion
.accordion-item {
  border-top: 1px solid $steel;

  .is-bordered & {
    margin-bottom: 16px;
    border: 2px solid $steel;
    border-radius: $border-radius;
    padding-left: 24px;
    padding-right: 24px;

    &.active {
      border-color: $primary;
    }
  }
}

.accordion-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding: 16px 0;
}

.accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 22px;
  height: 22px;
  border: 2px solid $grey;
  border-radius: 50%;
  color: $grey;

  .is-bordered & {
    margin-right: 16px;
    width: 26px;
    height: 26px;
    border-color: $primary;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $primary;
    }
  }

  .is-bordered .collapsed & {
    border-color: $steel;

    &:after {
      display: none;
    }
  }

  .fa-plus {
    display: none;
  }

  .collapsed & {
    .fa-minus {
      display: none;
    }

    .fa-plus {
      display: block;
    }
  }
}

.accordion-body {
  padding: 0px 0 16px 0;

  @include media-breakpoint-up(md) {
    padding: 0px 104px 16px 0;

    .is-bordered & {
      padding: 0px 0px 16px 0;
    }
  }
}

// Misc
.arrow-up {
  color: $money-green;
  font-size: 24px;
}

.arrow-down {
  color: $salmon;
  font-size: 24px;
}

.pagination {
  justify-content: center;
}

.page-link {
  font-size: 24px;
}

.page-item {
  .page-link {
    @include flex-center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  &:last-child {
    .page-link {
      border-radius: 50%;
    }
  }

  &:not(:disabled):not(.disabled):not(.active) {
    .page-link {
      &:hover {
        color: $white;
        background-color: $primary;
      }
    }
  }
}

.profile-image {
  @include flex-center;
  width: 246px;
  height: 246px;
  border: 2px solid $steel;
  border-radius: 50%;
  position: relative;

  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    margin-left: 24px;
    margin-right: 24px;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.9;
    background-color: #3e4754;
    border-color: #3e4754;
  }

  &.has-image {
    border: 0;
    z-index: 2;

    &:hover {
      .profile-image-action {
        display: flex;
      }
    }

    .profile-image-action {
      position: absolute;
      @include flex-center;
      display: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.9;
      background-color: #3e4754;
      border-color: #3e4754;
    }
  }
}

.profile-image-icon {
  font-size: 30px;
  color: $steel;
}

.onboarding-step-number {
  @include flex-center;
  color: $white;
  background-color: $primary;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  @include media-breakpoint-up(md) {
    width: 80px;
    height: 80px;
  }
}

// Tooltip
[data-toggle="tooltip"] {
  font-size: 24px;
}

.tooltip-inner {
  text-align: left;
  padding: 16px;

  @include media-breakpoint-up(md) {
    min-width: 300px;
  }
}
