// Colors
$royal-blue:            #4050fb;
$money-green:           #24c592;
$salmon:                #ff6d6d;
$pale-orange:           #ffb75d;

$dark:                  #00092b;    // Main text
$white:                 #ffffff;    // Just white

$slate:                 #2a2f40;
$grey:                  #5e6878;
$steel:                 #c7ccd4;
$light:                 #f4f6f9;
$pale:                  #f9fafc;

$primary:               $royal-blue;
$secondary:             $white;
$success:               $money-green;
$danger:                $salmon;
$warning:               $pale-orange;
$info:                  $royal-blue;

// Add custom colors to theme-colors map
$theme-colors: (
  dark: $dark,
  light: $grey,
  steel: $steel,
  white: $white
);

// Typography
$font-family-primary: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$body-color:                  $dark;

$font-size-base:              1.125rem;
$font-family-base:            $font-family-primary;
$line-height-base:            1.5;
$small-font-size:             14px;

$texts: (
  hero: (
    default: (
      font-size:    32px,
      line-height:  1.33
    ),
    md: (
      font-size:    40px,
      line-height:  1.33
    )
  ),
  mega: (
    default: (
      font-size:    24px,
      line-height:  1.4
    ),
    md: (
      font-size:    32px,
      line-height:  1.53
    )
  ),
  display: (
    default: (
      font-size:    24px,
      line-height:  1.42
    ),
    md: (
      font-size:    28px,
      line-height:  1.32
    )
  ),
  headline: (
    default: (
      font-size:    20px,
      line-height:  1.45
    ),
    md: (
      font-size:    24px,
      line-height:  1.42
    )
  ),
  title: (
    default: (
      font-size:    20px,
      line-height:  1.45
    ),
    md: (
      font-size:    20px,
      line-height:  1.45
    )
  ),
  body: (
    default: (
      font-size:    16px,
      line-height:  1.45
    ),
    md: (
      font-size:    16px,
      line-height:  1.45
    )
  )
);

// Spacers
$spacer:            1rem;

$spacers: (
  0: 0,
  1: ($spacer * .125),  // 2px
  2: ($spacer * .25),   // 4px
  3: ($spacer * .5),    // 8px
  4: $spacer,           // 16px
  5: ($spacer * 1.5),   // 24px
  6: ($spacer * 2),     // 32px
  7: ($spacer * 2.5),   // 40px
  8: ($spacer * 3),     // 48px
  9: ($spacer * 3.5),   // 56px
  10: ($spacer * 4),    // 64px
  11: ($spacer * 4.5),  // 72px
  12: ($spacer * 5),    // 80px
  13: ($spacer * 5.5),  // 88px
  14: ($spacer * 6),    // 96px
  15: ($spacer * 6.5),  // 104px
  16: ($spacer * 7),    // 112px
  17: ($spacer * 7.5),  // 120px
  18: ($spacer * 8),    // 128px
  19: ($spacer * 8.5),  // 136px
  20: ($spacer * 9),    // 144px
  21: ($spacer * 9.5),  // 162px
  22: ($spacer * 10),   // 160px
  23: ($spacer * 10.5), // 168px
  24: ($spacer * 11),   // 176px
  25: ($spacer * 11.5), // 184px
  26: ($spacer * 12),   // 192px
  27: ($spacer * 12.5), // 200px
  28: ($spacer * 13),   // 208px
  29: ($spacer * 13.5), // 216px
  30: ($spacer * 14)    // 224px
);

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1224px
);

$grid-gutter-width:           24px;

// UI
$border-radius:               6px;


// Buttons
$btn-size-lg:                 24px;
$btn-line-height-lg:          1.5;

$btn-size:                    18px;
$btn-line-height:             1.45;

$btn-size-sm:                 14px;
$btn-line-height-sm:          1.45;

$btn-padding-y-lg:            8px;
$btn-padding-x-lg:            32px;

$btn-padding-y:               9px;
$btn-padding-x:               32px;

$btn-padding-y-sm:            8px;
$btn-padding-x-sm:            16px;

$btn-border-width:            2px;

$btn-border-radius:           28px;
$btn-border-radius-lg:        28px;
$btn-border-radius-sm:        28px;

// Forms
$input-disabled-bg:               $light;
$input-padding-y:                 10px;
$input-padding-x:                 13px;
$input-color:                     $dark;
$input-border-width:              2px;
$input-border-color:              $steel;
$input-focus-border-color:        $primary;
$input-focus-box-shadow:          0 0 0 1px $primary;
$input-height:                    auto;
$input-line-height:               1.3;
$input-placeholder-color:         $grey;

$form-feedback-font-size:         16px;

// Navs
$nav-link-padding-y:                1rem;
$nav-link-padding-x:                1rem;
$nav-link-disabled-color:           $grey;

$nav-tabs-border-color:             $steel;
$nav-tabs-border-width:             1px;
$nav-tabs-link-active-color:        $dark;
$nav-tabs-link-active-bg:           transparent;

$nav-pills-border-radius:           100px;
$nav-pills-link-active-color:       $dark;
$nav-pills-link-active-bg:          transparent;

// Tables
$table-border-color:              $steel;

// Cards
$card-spacer-x:                   24px;

// Modals
$modal-inner-padding:             24px;

$modal-content-bg:                $light;
$modal-content-border-width:      0;

$modal-backdrop-bg:               $dark;
$modal-backdrop-opacity:          .5;
$modal-header-padding:            24px;

// Pagination
$pagination-padding-y:              .5rem;
$pagination-padding-x:              .75rem;
$pagination-line-height:            1.25;

$pagination-color:                  $steel;
$pagination-bg:                     transparent;
$pagination-border-width:           0;
$pagination-hover-color:            $primary;
$pagination-hover-bg:               transparent;
$pagination-active-color:           $primary;
$pagination-disabled-color:         $steel;
$pagination-disabled-bg:            transparent;
$pagination-active-bg:              transparent;

// Progress
$progress-height:                   4px;

// Custom selects
$custom-select-line-height:       $input-line-height;
$custom-select-height:            auto;
$custom-select-focus-box-shadow:  0 0 0 1px $primary;
$custom-select-padding-y:         $input-padding-y;
$custom-select-padding-x:         1rem;
$custom-select-border-width:      $input-border-width;
