<template>
  <div class="container pt-8 pb-8">
    <div class="d-md-flex justify-content-between mb-7 mb-md-15">
      <div class="d-md-flex mb-5 mb-md-0">
        <div class="form-group mb-5 mb-md-0 mr-md-5">
          <label for="">От дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            :value="selectDate.from"
          >
          </Datepicker>
        </div>

        <div class="form-group">
          <label for="">До дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            :value="selectDate.to"
          >
          </Datepicker>
        </div>
      </div>

      <div>
        <div class="form-group with-search-icon">
          <label for="">Търси</label>
          <input type="text" class="form-control" placeholder="Търси новини...">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="text-title">Известия</h2>
      </div>
      <div class="card-body with-table">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Дата</th>
              <th scope="col">Вид</th>
              <th scope="col" class="text-right"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="no-wrap">01 окт 2018</td>
              <td>Активите на фонда се вдигнаха с 20%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">01 сеп 2018</td>
              <td>Трябва да смените паролата си</td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="no-wrap">01 авг 2018</td>
              <td>Активите на фонда се вдигнаха с 10%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">02 окт 2018</td>
              <td>Активите на фонда се вдигнаха с 15%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">01 окт 2018</td>
              <td>Трябва да подпишете документи чрез приложението "Евротръст"</td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="no-wrap">01 окт 2018</td>
              <td>Активите на фонда се понижиха с 5%</td>
              <td class="text-right"><i class="fal fa-long-arrow-down arrow-down"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">01 сеп 2018</td>
              <td>Активите на фонда се вдигнаха с 15%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">01 авг 2018</td>
              <td>Активите на фонда се вдигнаха с 20%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">02 окт 2018</td>
              <td>Активите на фонда се вдигнаха с 5%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            <tr>
              <td class="no-wrap">01 окт 2018</td>
              <td>Активите на фонда се вдигнаха с 12%</td>
              <td class="text-right"><i class="fal fa-long-arrow-up arrow-up"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { en, bg } from 'vuejs-datepicker/dist/locale';
import moment from 'moment';

export default {
  name: 'Notifications',
  components: { Datepicker },
  data() {
    return {
      en,
      bg,
      selectDate: {
        from: moment(Date.now()).format(),
        to: moment(Date.now()).format(),
      },
    };
  },
};
</script>

<style scoped lang="scss">
</style>
