<template>
  <div>
    <!-- Login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Вход в u2vest</h5>
          </div>
          <div class="modal-body">
            <div class="form-group mb-5">
              <label for="">Email</label>
              <input type="email" class="form-control">
            </div>

            <div class="form-group mb-5">
              <label for="">Парола</label>
              <input type="password" class="form-control">
            </div>

            <div class="form-group mt-6">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Вход</button>
            </div>
          </div>
          <div class="modal-footer with-border justify-content-center">
            <div class="text-center">
              <a href="#" class="link-grey">Забравена парола</a>
              <span class="text-light"> | </span>
              <a href="registration.html" class="link-grey">Регистрация</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login modal -->

    <!-- Registration modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Регистрация</h5>
          </div>
          <div class="modal-body">
            <p class="mb-5">Ще ви отнеме около 2 минути, за да се регистрирате в u2vest.com</p>

            <div class="form-group mb-5">
              <label for="">Email</label>
              <input type="email" class="form-control">
            </div>

            <div class="form-group mb-5">
              <label for="">Парола</label>
              <input type="password" class="form-control">
            </div>

            <div class="mb-4">
              <p><i class="far fa-lock-alt text-primary mr-2"></i> <span class="text-body">Минимум 8 символа</span></p>
              <p><i class="far fa-lock-alt text-primary mr-2"></i> <span class="text-body">1 главна буква</span></p>
              <p><i class="far fa-lock-alt text-primary mr-2"></i> <span class="text-body">1 цифра</span></p>
            </div>

            <div class="custom-control custom-checkbox mb-4">
              <input type="checkbox" class="custom-control-input" id="terms" checked>
              <label class="custom-control-label" for="terms">Прочетох, разбрах и се съгласявам с общите условия и политиката за поверителност на
                u2vest.com</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="newsletter">
              <label class="custom-control-label" for="newsletter">Желая да получавам допълнителна информация по имейл от u2vest.com относно бъдещи
                идеи, продукти, услуги и друг тип полезна информация</label>
            </div>

            <div class="form-group mt-6">
              <a href="onboarding_00.html" class="btn btn-primary btn-lg btn-block">Създай профил</a>
            </div>
          </div>
          <div class="modal-footer with-border justify-content-center">
            <div class="text-center">
              <div>
                <a href="login.html" class="link-grey">Вече имам акаунт</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration modal -->

    <!-- Change password modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="text-title" id="changePasswordModalLabel">Промяна на парола</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-5">
              <label for="">Настояща парола</label>
              <input type="password" class="form-control" value="test123">
            </div>

            <div class="form-group mb-5">
              <label for="">Нова парола</label>
              <input type="password" class="form-control" placeholder="минимум 8 символа, 1 главна буква, 1 цифра">
            </div>

            <div class="form-group mb-2">
              <label for="">Потвърди нова парола</label>
              <input type="password" class="form-control" placeholder="минимум 8 символа, 1 главна буква, 1 цифра">
            </div>
          </div>
          <div class="modal-footer pt-0">
            <button class="btn btn-primary d-block d-md-inline-block">Промени</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Change password modal -->

    <!-- Change settings modal -->
    <div class="modal fade" id="changeSettingsModal" tabindex="-1" role="dialog" aria-labelledby="changeSettingsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="text-title" id="changeSettingsModalLabel">Настройки за директен маркетинг</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <p class="mb-6">За да можете да получавате информация относно наши бъдещи идеи, продукти, услуги, най-нови промоции и кампании, бюлетини и
              друг тип полезна информация, с цел възможно най-доброто обслужване и повишаване качеството на услугите бихме искали да получим Вашето
              съгласие за използването на личните Ви данни за целите на директния маркетинг. Можете да оттеглите съгласието си по всяко време.</p>

            <div class="custom-control custom-radio mb-4">
              <input type="radio" id="desireNewsletterYes" name="desireNewsletter" class="custom-control-input" checked>
              <label class="custom-control-label" for="desireNewsletterYes">Желая да получавам информация</label>
            </div>

            <p class="text-light mb-4">Изберете предпочитаните от Вас начини за получаване на информация:</p>

            <div class="row mb-5">
              <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsEmail" checked>
                  <label class="custom-control-label" for="settingsEmail">Email</label>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsPhone" checked>
                  <label class="custom-control-label" for="settingsPhone">Телефон</label>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsFacebook">
                  <label class="custom-control-label" for="settingsFacebook">Facebook</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsViber" checked>
                  <label class="custom-control-label" for="settingsViber">Viber</label>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsWhatsapp" checked>
                  <label class="custom-control-label" for="settingsWhatsapp">Whatsapp</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsLinkedin" checked>
                  <label class="custom-control-label" for="settingsLinkedin">LinkedIn</label>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="settingsSMS" checked>
                  <label class="custom-control-label" for="settingsSMS">SMS</label>
                </div>
              </div>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" id="desireNewsletterNo" name="desireNewsletter" class="custom-control-input">
              <label class="custom-control-label" for="desireNewsletterNo">Не желая да получавам информация</label>
            </div>
          </div>

          <div class="modal-footer pt-0">
            <button class="btn btn-primary d-block d-md-inline-block">Запази промените</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Change settings modal -->

    <!-- Buy shares modal -->
    <b-modal id="buySharesModal" size="lg" class="is-white">
      <div >
        <h5 class="text-display mb-5" id="buySharesModalLabel">Купете дялове в ДФ Smart Tech чрез:</h5>

        <div class="accordion is-bordered" id="accordionWizzard">
          <!-- Банков превод -->
          <div class="accordion-item">
            <div class="accordion-header" id="heading1">
              <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem1" aria-expanded="false"
                 aria-controls="accWizItem1">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">Банков превод</span>
                </span>
              </p>
            </div>

            <div id="accWizItem1" class="collapse" aria-labelledby="heading1" data-parent="#accordionWizzard">
              <div class="accordion-body">
                <div class="form-group mb-5">
                  <label for="">Име на получател</label>
                  <input type="text" class="form-control" value="ДФ Смарт Тех" disabled>
                </div>

                <div class="form-group mb-5">
                  <label for="">IBAN на получателя</label>
                  <input type="tel" class="form-control" value="BG80 BNBG 9661 1020 3456 78" disabled>
                </div>

                <div class="form-group">
                  <label for="">Основание за превод</label>
                  <input type="text" class="form-control" value="Закупуване на дялове" disabled>
                </div>
              </div>
            </div>
          </div>
          <!-- Банков превод -->

          <!-- Дебитна/кредитна карта -->
          <div class="accordion-item">
            <div class="accordion-header" id="heading2">
              <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem2" aria-expanded="false"
                 aria-controls="accWizItem2">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">Дебитна/кредитна карта</span>
                </span>
                <span>
                  <img height="30" src="@/assets/img/logos/cards.png" alt="">
                </span>
              </p>
            </div>

            <div id="accWizItem2" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizzard">
              <div class="accordion-body tab-content">
                <!-- Step 1 -->
                <div class="tab-pane fade show active" id="step1">
                  <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

                  <label for="">Размер на инвестицията (в лв)</label>
                  <div class="d-md-flex align-items-center">
                    <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                    <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
                  </div>
                </div>
                <!-- Step 1 -->

                <!-- Step 2 -->
                <div class="tab-pane fade" id="step2">
                  <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                      <div class="form-group mb-5">
                        <label for="">Име на картодържател</label>
                        <input type="text" class="form-control" placeholder="Име и фамилия">
                      </div>

                      <div class="form-group mb-5">
                        <label for="">Номер на карта</label>
                        <input type="tel" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group mb-5 mb-md-0">
                            <label for="">Валидност</label>
                            <input type="text" class="form-control" placeholder="ММ / ГГ">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group mb-5 mb-md-0">
                            <label for="">CVV</label>
                            <input type="tel" class="form-control" placeholder="XXX">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="container-gray-rounded mb-4 mb-md-9">
                        <div class="table-row no-border mb-2">
                          <p class="small text-light">Инвестиция:</p>
                          <p class="text-body text-md-right">5 000.00 лв</p>
                        </div>

                        <div class="table-row no-border mb-2">
                          <p class="small text-light">Такса:</p>
                          <p class="text-body text-md-right">10.00 лв</p>
                        </div>

                        <div class="table-row mt-5">
                          <p class="text-body">Общо:</p>
                          <p class="text-body text-md-right">5 010.00 лв</p>
                        </div>
                      </div>

                      <div class="d-md-flex justify-content-end">
                        <button class="btn btn-primary d-block d-md-inline-block order-md-12 mb-4 mb-md-0" data-toggle="modal"
                                data-target="#successModal" data-dismiss="modal">Потвърди
                        </button>
                        <button class="btn btn-link d-block d-md-inline-block ml-md-4 js-go-to-step order-md-1" data-step="#step1">Назад</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Step 2 -->
              </div>
            </div>
          </div>
          <!-- Дебитна/кредитна карта -->

          <!-- ePay.bg -->
          <div class="accordion-item">
            <div class="accordion-header" id="heading3">
              <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem3" aria-expanded="false"
                 aria-controls="accWizItem3">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">ePay.bg</span>
                </span>
                <span>
                  <img height="30" src="@/assets/img/logos/epay.png" alt="">
                </span>
              </p>
            </div>

            <div id="accWizItem3" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizzard">
              <div class="accordion-body">
                <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

                <label for="">Размер на инвестицията (в лв)</label>
                <div class="d-md-flex align-items-center">
                  <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                  <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ePay.bg -->

          <!-- PayPal -->
          <div class="accordion-item">
            <div class="accordion-header" id="heading4">
              <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem4" aria-expanded="false"
                 aria-controls="accWizItem4">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">PayPal</span>
                </span>
                <span>
                  <img height="30" src="@/assets/img/logos/paypal.png" alt="">
                </span>
              </p>
            </div>

            <div id="accWizItem4" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizzard">
              <div class="accordion-body">
                <p class="text-light mb-6">Ще бъдете пренасочени към www.paypal.com, където да извършите плащането.</p>

                <label for="">Размер на инвестицията (в лв)</label>
                <div class="d-md-flex align-items-center">
                  <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                  <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
                </div>
              </div>
            </div>
          </div>
          <!-- PayPal -->

        </div>
      </div>
      <div slot="modal-footer"></div>
    </b-modal>
    <!-- Buy shares modal -->

    <!-- Sell shares modal -->
    <div class="modal fade" id="sellSharesModal" tabindex="-1" role="dialog" aria-labelledby="sellSharesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content is-white">
          <div class="modal-header pb-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>

          <div class="modal-body">
            <div class="tab-content pt-0">
              <!-- Step 1 -->
              <div class="tab-pane fade show active" id="sellStep1">
                <h5 class="text-display mb-5" id="sellSharesModalLabel">Изберете договорен фонд:</h5>

                <div class="custom-control custom-radio mb-4">
                  <input type="radio" id="sellOption1" name="desireNewsletter" class="custom-control-input">
                  <label class="custom-control-label" for="sellOption1">ДФ Smart Tech</label>
                </div>

                <div class="custom-control custom-radio mb-4">
                  <input type="radio" id="sellOption2" name="desireNewsletter" class="custom-control-input">
                  <label class="custom-control-label" for="sellOption2">ДФ Алфа Sofix Индекс</label>
                </div>

                <div class="custom-control custom-radio">
                  <input type="radio" id="sellOption3" name="desireNewsletter" class="custom-control-input">
                  <label class="custom-control-label" for="sellOption3">ДФ Алфa Индекс Имоти</label>
                </div>

                <button class="btn btn-primary js-go-to-step mt-7 d-block d-inline-block" data-step="#sellStep2">Продължи</button>
              </div>
              <!-- Step 1 -->

              <!-- Step 2 -->
              <div class="tab-pane fade" id="sellStep2">

                <h5 class="text-display mb-5">Продайте дялове от ДФ Smart Tech чрез:</h5>

                <div class="accordion is-bordered" id="sellAccordionWizzard">
                  <!-- Банков превод -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="sellHeading1">
                      <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem1" aria-expanded="false"
                         aria-controls="sellAccWizItem1">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">Банков превод</span>
                    </span>
                      </p>
                    </div>

                    <div id="sellAccWizItem1" class="collapse" aria-labelledby="sellHeading1" data-parent="#sellAccordionWizzard">
                      <div class="accordion-body">
                        <div class="form-group mb-5">
                          <label for="">Име на получател</label>
                          <input type="text" class="form-control" value="ДФ Смарт Тех" disabled>
                        </div>

                        <div class="form-group mb-5">
                          <label for="">IBAN на получателя</label>
                          <input type="tel" class="form-control" value="BG80 BNBG 9661 1020 3456 78" disabled>
                        </div>

                        <div class="form-group">
                          <label for="">Основание за превод</label>
                          <input type="text" class="form-control" value="Закупуване на дялове" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Банков превод -->

                  <!-- ePay.bg -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="sellHeading2">
                      <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem3" aria-expanded="false"
                         aria-controls="sellAccWizItem3">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">ePay.bg</span>
                    </span>
                        <span>
                      <img height="30" src="@/assets/img/logos/epay.png" alt="">
                    </span>
                      </p>
                    </div>

                    <div id="sellAccWizItem3" class="collapse" aria-labelledby="sellHeading2" data-parent="#sellAccordionWizzard">
                      <div class="accordion-body">
                        <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

                        <label for="">Размер на инвестицията (в лв)</label>
                        <div class="d-md-flex align-items-center">
                          <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                          <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#sellStep3">Продължи</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ePay.bg -->

                  <!-- PayPal -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="sellHeading2">
                      <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem4" aria-expanded="false"
                         aria-controls="sellAccWizItem4">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">PayPal</span>
                    </span>
                        <span>
                      <img height="30" src="@/assets/img/logos/paypal.png" alt="">
                    </span>
                      </p>
                    </div>

                    <div id="sellAccWizItem4" class="collapse" aria-labelledby="sellHeading2" data-parent="#sellAccordionWizzard">
                      <div class="accordion-body">
                        <p class="text-light mb-6">Ще бъдете пренасочени към www.paypal.com, където да извършите плащането.</p>

                        <label for="">Размер на инвестицията (в лв)</label>
                        <div class="d-md-flex align-items-center">
                          <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                          <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#sellStep3">Продължи</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PayPal -->

                </div>
              </div>
              <!-- Step 2 -->

              <!-- Step 3 -->
              <div class="tab-pane fade" id="sellStep3">

                <div class="d-flex">
                  <i class="far fa-check-double text-primary modal-icon mr-4"></i>
                  <div>
                    <h5 class="text-display mb-4" id="successModalLabel">Успешно заявихте продажбата на дялове от ДФ Smart Tech на стойност 5 000.00
                      лв!</h5>
                    <p>Стойността на дяловете, които желаете да продадете, ще бъде изплатена в банковата ви сметка в срок от 7 работни дни.</p>
                  </div>
                </div>

              </div>
              <!-- Step 3 -->
            </div>

          </div>

          <div class="modal-footer pb-0">
          </div>
        </div>
      </div>
    </div>
    <!-- Sell shares modal -->

    <!-- Success modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-dialogiBA modal-lg" role="document">
          <div class="modal-content is-white">
            <div class="modal-header pb-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
            </div>

            <div class="modal-body">
              <div class="d-flex">
                <i class="far fa-check-double text-primary modal-icon mr-4"></i>
                <h5 class="text-display" id="successModalLabel">Успешно заявихте закупуване на дялове от ДФ Smart Tech на стойност 5 000.00 лв!</h5>
              </div>
            </div>

            <div class="modal-footer pb-0">
            </div>
          </div>
        </div>
      </div>
      <!-- Success modal -->

      <!-- Upload photo modal -->
      <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content is-white">
            <div class="modal-header pb-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
            </div>

            <div class="modal-body">
              <h5 class="text-display mb-5">Изберете профилна снимка</h5>

              <div class="container-upload">
                <i class="far fa-images container-upload-icon mb-5"></i>
                <p class="text-light mb-5">Плъзнете и поставете профилната си снимка тук или</p>
                <button class="btn btn-primary" data-dismiss="modal">Изберете файл</button>
              </div>
            </div>

            <div class="modal-footer pb-0">
            </div>
          </div>
        </div>
      </div>
      <!-- Upload photo modal -->

      <!-- Update photo modal -->
      <div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content is-white">
            <div class="modal-header pb-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
            </div>

            <div class="modal-body">
              <h5 class="text-display mb-5">Променете профилната си снимка</h5>

              <div class="d-md-flex align-items-center mt-7">
                <button class="btn btn-primary js-go-to-step mr-4 d-block d-md-inline-block mb-4 mb-md-0" data-step="#uploadStep2">Изберете нова
                  снимка
                </button>
                <button class="btn btn-link text-danger d-block d-md-inline-block" data-dismiss="modal"><i class="far fa-trash-alt"></i> Изтрийте
                </button>
              </div>
            </div>

            <div class="modal-footer pb-0">
            </div>
          </div>
        </div>
      </div>
      <!-- Update photo modal -->

      <!-- Conv Checkbox modal -->
      <div class="modal" id="convCheckboxModal" tabindex="-1" role="dialog" aria-labelledby="convCheckboxModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content is-white">
            <div class="modal-body">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="incomeOption1" checked value="Трудови възнаграждения и/или хонорари">
                <label class="custom-control-label" for="incomeOption1">Трудови възнаграждения и/или хонорари</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="incomeOption2" value="Социални плащания (пенсии, стипендии и подобни)">
                <label class="custom-control-label" for="incomeOption2">Социални плащания (пенсии, стипендии и подобни)</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="incomeOption3" value="Доходи от наеми/аренди">
                <label class="custom-control-label" for="incomeOption3">Доходи от наеми/аренди</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="incomeOption4" value="Лихви и/или дивиденти от инвестиции">
                <label class="custom-control-label" for="incomeOption4">Лихви и/или дивиденти от инвестиции</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="incomeOption5" value="Други">
                <label class="custom-control-label" for="incomeOption5">Други</label>
              </div>

              <button class="btn btn-primary mt-5 js-conv-checkbox-option">Избери</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Conv Checkbox modal -->

      <!-- Conv Checkbox Edu modal -->
      <div class="modal" id="convCheckboxEduModal" tabindex="-1" role="dialog" aria-labelledby="convCheckboxEduModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content is-white">
            <div class="modal-body">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="eduOption1" checked value="Начално образование">
                <label class="custom-control-label" for="eduOption1">Начално образование</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="eduOption2" value="Основно образование">
                <label class="custom-control-label" for="eduOption2">Основно образование</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="eduOption3" value="Средно образование">
                <label class="custom-control-label" for="eduOption2">Средно образование</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="eduOption4" value="Висше образование">
                <label class="custom-control-label" for="eduOption4">Висше образование</label>
              </div>

              <button class="btn btn-primary mt-5 js-conv-checkbox-option">Избери</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Conv Checkbox Edu modal -->

      <!-- Conv Radio modal -->
      <div class="modal" id="convRadioModal" tabindex="-1" role="dialog" aria-labelledby="convRadioModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content is-white">
            <div class="modal-body">
              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption1" name="convRadioOption" class="custom-control-input" value="До 500 лв">
                <label class="custom-control-label" for="convRadioOption1">До 500 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption2" name="convRadioOption" class="custom-control-input" value="От 1 000 до 2 000 лв">
                <label class="custom-control-label" for="convRadioOption2">От 1 000 до 2 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption3" name="convRadioOption" class="custom-control-input" value="От 2 000 до 3 000 лв">
                <label class="custom-control-label" for="convRadioOption3">От 2 000 до 3 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption4" name="convRadioOption" class="custom-control-input" value="От 3 000 до 4 000 лв">
                <label class="custom-control-label" for="convRadioOption4">От 3 000 до 4 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption5" name="convRadioOption" class="custom-control-input" value="От 4 000 до 5 000 лв">
                <label class="custom-control-label" for="convRadioOption5">От 4 000 до 5 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption6" name="convRadioOption" class="custom-control-input" value="От 5 000 до 6 000 лв">
                <label class="custom-control-label" for="convRadioOption6">От 5 000 до 6 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption7" name="convRadioOption" class="custom-control-input" value="От 6 000 до 7 000 лв">
                <label class="custom-control-label" for="convRadioOption7">От 6 000 до 7 000 лв</label>
              </div>

              <div class="custom-control custom-radio mb-5">
                <input type="radio" id="convRadioOption8" name="convRadioOption" class="custom-control-input" value="От 7 000 до 10 000 лв">
                <label class="custom-control-label" for="convRadioOption8">От 7 000 до 10 000 лв</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="convRadioOption9" name="convRadioOption" class="custom-control-input" value="Над 10 000 лв">
                <label class="custom-control-label" for="convRadioOption9">Над 10 000 лв</label>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Conv Radio modal -->

    </div>
  </div>
</template>

<script>
export default {
  name: 'All',
};
</script>

<style scoped lang="scss">

</style>
