<template>
  <div
    aria-hidden="true"
    aria-labelledby="approximateSavingsModalLabel"
    class="modal"
    id="approximateSavingsModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="savingsAmount"
              id="approximateSavings"
              name="approximateSavings"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { savingsAmount } from '../../store/options';

export default {
  name: 'ApproximateSavings',
  data() {
    return {
      selected: '',
      savingsAmount,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.savings_amount) {
      this.selected = this.onBoardingData.savings_amount;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('approximateSavings', val);
    },
  },
};
</script>

<style scoped>

</style>
