<template>
  <!-- Buy shares modal -->
  <b-modal
    id="buySharesModal"
    size="lg"
    hide-footer
  >
    <template slot="modal-header" slot-scope="{close}">
      <h5 class="text-title">Промяна на парола</h5>
      <b-button class="btn-lg" @click="close()" style="padding: 8px 18px;">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
      </b-button>
    </template>
    <template class="modal-body">
      <h5 class="text-display mb-5" id="buySharesModalLabel">Купете дялове в ДФ Smart Tech чрез:</h5>

      <div class="accordion is-bordered" id="accordionWizard">
        <!-- Банков превод -->
        <div class="accordion-item">
          <div class="accordion-header" id="heading1">
            <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem1" aria-expanded="false"
               aria-controls="accWizItem1">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">Банков превод</span>
                </span>
            </p>
          </div>

          <div id="accWizItem1" class="collapse" aria-labelledby="heading1" data-parent="#accordionWizard">
            <div class="accordion-body">
              <div class="form-group mb-5">
                <label>Име на получател</label>
                <input class="form-control" disabled type="text" value="ДФ Смарт Тех">
              </div>

              <div class="form-group mb-5">
                <label>IBAN на получателя</label>
                <input class="form-control" disabled type="tel" value="BG80 BNBG 9661 1020 3456 78">
              </div>

              <div class="form-group">
                <label>Основание за превод</label>
                <input class="form-control" disabled type="text" value="Закупуване на дялове">
              </div>
            </div>
          </div>
        </div>
        <!-- Банков превод -->

        <!-- Дебитна/кредитна карта -->
        <div class="accordion-item">
          <div class="accordion-header" id="heading2">
            <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem2" aria-expanded="false"
               aria-controls="accWizItem2">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">Дебитна/кредитна карта</span>
                </span>
              <span>
                  <img height="30" src="@/assets/img/logos/cards.png" alt="">
                </span>
            </p>
          </div>

          <div id="accWizItem2" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizard">
            <div class="accordion-body tab-content">
              <!-- Step 1 -->
              <div class="tab-pane fade show active" id="step1">
                <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

                <label>Размер на инвестицията (в лв)</label>
                <div class="d-md-flex align-items-center">
                  <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                  <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
                </div>
              </div>
              <!-- Step 1 -->

              <!-- Step 2 -->
              <div class="tab-pane fade" id="step2">
                <div class="row">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="form-group mb-5">
                      <label>Име на картодържател</label>
                      <input type="text" class="form-control" placeholder="Име и фамилия">
                    </div>

                    <div class="form-group mb-5">
                      <label>Номер на карта</label>
                      <input type="tel" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group mb-5 mb-md-0">
                          <label>Валидност</label>
                          <input type="text" class="form-control" placeholder="ММ / ГГ">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group mb-5 mb-md-0">
                          <label>CVV</label>
                          <input type="tel" class="form-control" placeholder="XXX">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="container-gray-rounded mb-4 mb-md-9">
                      <div class="table-row no-border mb-2">
                        <p class="small text-light">Инвестиция:</p>
                        <p class="text-body text-md-right">5 000.00 лв</p>
                      </div>

                      <div class="table-row no-border mb-2">
                        <p class="small text-light">Такса:</p>
                        <p class="text-body text-md-right">10.00 лв</p>
                      </div>

                      <div class="table-row mt-5">
                        <p class="text-body">Общо:</p>
                        <p class="text-body text-md-right">5 010.00 лв</p>
                      </div>
                    </div>

                    <div class="d-md-flex justify-content-end">
                      <button class="btn btn-primary d-block d-md-inline-block order-md-12 mb-4 mb-md-0" data-toggle="modal"
                              data-target="#successModal" data-dismiss="modal">Потвърди
                      </button>
                      <button class="btn btn-link d-block d-md-inline-block ml-md-4 js-go-to-step order-md-1" data-step="#step1">Назад</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Step 2 -->
            </div>
          </div>
        </div>
        <!-- Дебитна/кредитна карта -->

        <!-- ePay.bg -->
        <div class="accordion-item">
          <div class="accordion-header">
            <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem3" aria-expanded="false"
               aria-controls="accWizItem3">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">ePay.bg</span>
                </span>
              <span>
                  <img height="30" src="@/assets/img/logos/epay.png" alt="">
                </span>
            </p>
          </div>

          <div id="accWizItem3" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizard">
            <div class="accordion-body">
              <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

              <label>Размер на инвестицията (в лв)</label>
              <div class="d-md-flex align-items-center">
                <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ePay.bg -->

        <!-- PayPal -->
        <div class="accordion-item">
          <div class="accordion-header">
            <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#accWizItem4" aria-expanded="false"
               aria-controls="accWizItem4">
                <span class="d-flex align-items-center">
                  <span class="d-none d-md-flex accordion-icon">
                  </span>
                  <span class="text-title">PayPal</span>
                </span>
              <span>
                  <img height="30" src="@/assets/img/logos/paypal.png" alt="">
                </span>
            </p>
          </div>

          <div id="accWizItem4" class="collapse" aria-labelledby="heading2" data-parent="#accordionWizard">
            <div class="accordion-body">
              <p class="text-light mb-6">Ще бъдете пренасочени към www.paypal.com, където да извършите плащането.</p>

              <label>Размер на инвестицията (в лв)</label>
              <div class="d-md-flex align-items-center">
                <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#step2">Продължи</button>
              </div>
            </div>
          </div>
        </div>
        <!-- PayPal -->

      </div>
    </template>
  </b-modal>
  <!-- Buy shares modal -->
</template>

<script>
export default {
  name: 'BuyShares',
};
</script>

<style scoped>

</style>
