<template>
  <!-- Change settings modal -->
  <div class="modal fade" id="changeSettingsModal" tabindex="-1" role="dialog" aria-labelledby="changeSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-title" id="changeSettingsModalLabel">Настройки за директен маркетинг</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-6">За да можете да получавате информация относно наши бъдещи идеи, продукти, услуги, най-нови промоции и кампании, бюлетини и
            друг тип полезна информация, с цел възможно най-доброто обслужване и повишаване качеството на услугите бихме искали да получим Вашето
            съгласие за използването на личните Ви данни за целите на директния маркетинг. Можете да оттеглите съгласието си по всяко време.</p>

          <div class="custom-control custom-radio mb-4">
            <input type="radio" id="desireNewsletterYes" name="desireNewsletter" class="custom-control-input" checked>
            <label class="custom-control-label" for="desireNewsletterYes">Желая да получавам информация</label>
          </div>

          <p class="text-light mb-4">Изберете предпочитаните от Вас начини за получаване на информация:</p>

          <div class="row mb-5">
            <div class="col-md-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsEmail" checked>
                <label class="custom-control-label" for="settingsEmail">Email</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsPhone" checked>
                <label class="custom-control-label" for="settingsPhone">Телефон</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsFacebook">
                <label class="custom-control-label" for="settingsFacebook">Facebook</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsViber" checked>
                <label class="custom-control-label" for="settingsViber">Viber</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsWhatsapp" checked>
                <label class="custom-control-label" for="settingsWhatsapp">Whatsapp</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsLinkedin" checked>
                <label class="custom-control-label" for="settingsLinkedin">LinkedIn</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="settingsSMS" checked>
                <label class="custom-control-label" for="settingsSMS">SMS</label>
              </div>
            </div>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" id="desireNewsletterNo" name="desireNewsletter" class="custom-control-input">
            <label class="custom-control-label" for="desireNewsletterNo">Не желая да получавам информация</label>
          </div>
        </div>

        <div class="modal-footer pt-0">
          <button class="btn btn-primary d-block d-md-inline-block">Запази промените</button>
        </div>

      </div>
    </div>
  </div>
  <!-- Change settings modal -->
</template>

<script>
export default {
  name: 'ChangeSettings',
};
</script>

<style scoped>

</style>
