<template>
  <!-- Change password modal -->
  <div>
    <b-modal
      id="changePasswordModal"
      size="lg"
      @hidden="resetModal"
    >
      <template slot="modal-header" slot-scope="{close}">
        <h5 class="text-title" id="changePasswordModalLabel">Промяна на парола</h5>
        <b-button class="btn-lg" @click="close()" style="padding: 8px 18px;">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </b-button>

      </template>
      <template class="modal-body">
        <div class="form-group mb-5">
          <label for="">Настояща парола</label>
          <input
            type="password"
            class="form-control"
            v-model="old_password"
          >
        </div>

        <div class="form-group mb-5">
          <label for="">Нова парола</label>
          <input
            class="form-control"
            v-model="password"
            v-validate="'required|min:8|max:128|verify_password'"
            name="password" type="password"
            :class="{'is-danger': errors.has('password')}"
            placeholder="минимум 8 символа, 1 главна буква, 1 цифра"
            ref="password"
          >
          <span
            v-show="errors.has('password')"
            class="text-danger"
          >{{ errors.first('password') }}</span>
        </div>

        <div class="form-group mb-2">
          <label for="">Потвърди нова парола</label>
          <input
            class="form-control"
            v-model="password_confirm"
            v-validate="'required|confirmed:password|min:8|max:128|verify_password'"
            name="password_confirm"
            type="password"
            :class="{'is-danger': errors.has('password_confirm')}"
            placeholder="минимум 8 символа, 1 главна буква, 1 цифра"
            data-vv-as="password"
          >
          <span
            v-show="errors.has('password_confirm')"
            class="text-danger"
          >{{ errors.first('password_confirm') }}</span>
          <span
            v-if="detail"
            :class="{'text-danger': hasError}"
          >{{ detail }}</span>
        </div>
      </template>
      <template slot="modal-footer">
        <button
          class="btn btn-primary d-block d-md-inline-block"
          @click="submit"
        >Промени</button>
      </template>
    </b-modal>
  </div>
  <!-- Change password modal -->
</template>

<script>
import axios from 'axios';

export default {
  name: 'ChangePassword',
  data() {
    return {
      old_password: '',
      password: '',
      password_confirm: '',
      detail: '',
      hasError: false,
    };
  },
  methods: {
    resetModal() {
      this.old_password = '';
      this.password = '';
      this.password_confirm = '';
    },
    async submit() {
      await this.$validator.validate().then(async (valid) => {
        if (valid) {
          this.$bvModal.msgBoxConfirm('Are you sure?')
            .then(async (value) => {
              if (value) {
                await axios
                  .post('/api/v1/accounts/change-password/', {
                    old_password: this.old_password,
                    password: this.password,
                    password_confirm: this.password_confirm,
                  })
                  .then((res) => {
                    this.detail = res.data.detail;
                    this.hasError = false;
                    this.$store.dispatch('logoutUser', this.$router);
                  })
                  .catch((err) => {
                    this.detail = err.response.data.password[0] || err.response.data.old_password[0];
                    this.hasError = true;
                  });
              }
            })
            .catch(() => {
            });
        }
      });
    },
  },
  watch: {
    password() {
      this.detail = '';
    },
    password_confirm() {
      this.detail = '';
    },
  },
};
</script>

<style scoped>

</style>
