<template>
  <!-- Conv Checkbox Edu modal -->
  <div
    aria-hidden="true"
    aria-labelledby="educationDegreeModalLabel"
    class="modal"
    id="educationDegreeModal"
    role="dialog"
    tabindex="-1"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
    >
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="educations"
              id="educationDegree"
              name="educationDegree"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>

          <!--<button class="btn btn-primary mt-5 js-conv-checkbox-option">Избери</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Conv Checkbox Edu modal -->
</template>

<script>
import { mapGetters } from 'vuex';
import { educations } from '../../store/options';

export default {
  name: 'EducationDegree',
  data() {
    return {
      selected: '',
      educations,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.education) {
      this.selected = this.onBoardingData.education;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('educationDegree', val);
    },
  },
};
</script>

<style scoped>

</style>
