<template>
  <div></div>
</template>

<script>
export default {
  name: 'EmailVerify',
  data() {
    return {
      params: {},
    };
  },
  methods: {
    submit(data) {
      this.$store.dispatch('emailVerify', {
        userDetail: {
          user_id: data.user_id,
          timestamp: data.timestamp,
          signature: data.signature,
        },
        router: this.$router,
      });
    },
  },
  created() {
    this.params = this.$route.query;
    this.submit(this.params);
  },
};
</script>
