<template>
  <div class="modal" id="irregularIncomeModal" tabindex="-1" role="dialog" aria-labelledby="irregularIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-checkbox-group
              class="custom-control custom-checkbox"
              :options="irregularSourceOfIncome"
              id="notRegularIncome"
              name="notRegularIncome"
              v-model="selected"></b-form-checkbox-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { irregularSourceOfIncome } from '../../store/options';

export default {
  name: 'IrregularIncome',
  data() {
    return {
      selected: [], // Must be an array reference!
      irregularSourceOfIncome,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.irregular_source_of_income) {
      this.selected = this.onBoardingData.irregular_source_of_income;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('irregularIncome', val);
    },
  },
};
</script>

<style scoped>

</style>
