<template>
  <div
    class="modal"
    id="liabilitiesModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="liabilitiesModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="savings"
              id="liabilities"
              name="liabilities"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { savings } from '../../store/options';

export default {
  name: 'Liabilities',
  data() {
    return {
      selected: '',
      savings,
    };
  },
  computed: {
    ...mapGetters([
      'liabilities',
    ]),
  },
  mounted() {
    if (this.liabilities) {
      this.selected = this.liabilities;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('liabilities', val);
    },
  },
};
</script>

<style scoped>

</style>
