<template>
  <div>
    <!-- Login modal -->
    <transition name="modal">
      <div class="modal-mask" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <b-form>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ $t('message.registration.login_to') }}</h5>
                </div>
                <div class="modal-body">
                  <div class="form-group mb-5">
                    <label for="email">{{ $t('message.registration.email') }}</label>
                    <input
                      class="form-control"
                      :class="{'is-invalid': errors.first('email')}"
                      name="email"
                      type="text"
                      v-model="email"
                      v-on:keyup.enter="submit"
                      v-validate="'required|email|max:254'"
                    >
                    <span class="text-danger">{{ errors.first('email') }}</span>
                    <span v-if="userValidated" class="text-danger">{{ validationErrors.detail }}</span>
                  </div>

                  <div class="form-group mb-5">
                    <label for="password">{{ $t('message.registration.password') }}</label>
                    <input
                      class="form-control"
                      :class="{'is-invalid': errors.first('password')}"
                      name="password"
                      type="password"
                      v-model="password"
                      v-on:keyup.enter="submit"
                      v-validate="'required'"
                    >
                    <span class="text-danger">{{ errors.first('password') }}</span>
                  </div>

                  <div class="form-group mt-6">
                    <b-button
                      @click="submit"
                      variant="btn-primary"
                      class="btn btn-primary btn-lg btn-block"
                    >{{ $t('message.registration.login') }}</b-button>
                  </div>
                </div>
                <div class="modal-footer with-border justify-content-center">
                  <div class="text-center">
                    <router-link to="/forgot-pass" class="link-grey">{{ $t('message.registration.forgot_pass') }}</router-link>
                    <span class="text-light"> | </span>
                    <router-link to="/registration" class="link-grey">{{ $t('message.registration.registration') }}</router-link>
                  </div>
                </div>
              </div>
            </b-form>
          </div>
        </div>
      </div>
    </transition>
    <!-- Login modal -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      userValidated: false,
    };
  },
  methods: {
    submit() {
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.$store.dispatch('signInUser', {
            user: {
              login: this.email,
              password: this.password,
            },
            router: this.$router,
          });
        }
      });
    },
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    email() {
      this.userValidated = false;
    },
    validationErrors(val) {
      this.userValidated = !!val;
    },
  },
};
</script>

<style scoped>

</style>
