<template>
  <div
    aria-hidden="true"
    aria-labelledby="marketValueOfPropertyModalLabel"
    class="modal"
    id="marketValueOfPropertyModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="propertyAmount"
              id="marketValueOfProperty"
              name="marketValueOfProperty"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { propertyAmount } from '../../store/options';

export default {
  name: 'MarketValueOfProperty',
  data() {
    return {
      selected: '',
      propertyAmount,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.property_amount) {
      this.selected = this.onBoardingData.property_amount;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('marketValueOfProperty', val);
    },
  },
};
</script>

<style scoped>

</style>
