<template>
  <!-- Conv Checkbox modal -->
  <div class="modal" id="monthlyIncomeSourceModal" tabindex="-1" role="dialog" aria-labelledby="monthlyIncomeSourceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-checkbox-group
              class="custom-control custom-checkbox"
              :options="mainSourceOfIncome"
              id="monthlyIncomeSource"
              name="monthlyIncomeSource"
              v-model="selected"></b-form-checkbox-group>
          </b-form-group>
          <!--<button class="btn btn-primary mt-5 js-conv-checkbox-option">Избери</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Conv Checkbox modal -->
</template>

<script>
import { mapGetters } from 'vuex';
import { mainSourceOfIncome } from '../../store/options';

export default {
  name: 'monthlyIncomeSource',
  data() {
    return {
      selected: [], // Must be an array reference!
      mainSourceOfIncome,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.main_source_of_income) {
      this.selected = this.onBoardingData.main_source_of_income;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('monthlyIncomeSource', val);
    },
  },
};
</script>

<style scoped>
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 575px;
    }
  }

  .custom-checkbox {
    padding-bottom: 16px !important;
  }
</style>
