<template>
  <!-- Conv Radio modal -->
  <div class="modal" id="monthlyIncomeModal" tabindex="-1" role="dialog" aria-labelledby="monthlyIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="monthlyIncome"
              id="monthlyIncome"
              name="monthlyIncome"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>

        </div>
      </div>
    </div>
  </div>
  <!-- Conv Radio modal -->
</template>

<script>
import { mapGetters } from 'vuex';
import { monthlyIncome } from '../../store/options';

export default {
  name: 'MonthlyIncome',
  data() {
    return {
      selected: '',
      monthlyIncome,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.monthly_income) {
      this.selected = this.onBoardingData.monthly_income;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('monthlyIncome', val);
    },
  },
};
</script>

<style scoped>

</style>
