<template>
  <div class="modal" id="ownPropertyModal" tabindex="-1" role="dialog" aria-labelledby="ownPropertyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="property"
              id="ownProperty"
              name="ownProperty"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { property } from '../../store/options';

export default {
  name: 'OwnProperty',
  data() {
    return {
      selected: '',
      property,
    };
  },
  computed: {
    ...mapGetters([
      'ownProperty',
    ]),
  },
  mounted() {
    if (this.ownProperty) {
      this.selected = this.ownProperty;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('ownProperty', val);
    },
  },
};
</script>

<style scoped>

</style>
