<template>
  <div>
    <!-- Registration modal -->
    <transition name="modal">
      <div class="modal-mask" tabindex="-1" role="dialog">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ $t('message.registration.registration') }}</h5>
              </div>
              <div class="modal-body">
                <p class="mb-5">{{ $t('message.registration.description') }}</p>

                <div class="form-group mb-5">
                  <label for="">{{ $t('message.registration.email') }}</label>
                  <input
                    class="form-control"
                    :class="{'is-invalid': errors.first('email')}"
                    name="email"
                    type="text"
                    v-model="email"
                    v-on:keyup.enter="submit"
                    v-validate="'required|email|max:254'"
                  >
                  <span class="text-danger">{{ errors.first('email') }}</span>
                  <span v-if="emailValidated" class="text-danger">{{ validationErrors.email[0] }}</span>
                </div>

                <div class="form-group mb-5">
                  <label for="">{{ $t('message.registration.password') }}</label>
                  <input
                    class="form-control"
                    :class="{'is-invalid': errors.first('password')}"
                    name="password"
                    type="password"
                    v-model="password"
                    v-on:keyup.enter="submit"
                    v-validate="'required|min:8|max:128|verify_password'"
                  >
                </div>

                <div class="mb-4">
                  <p v-if="!validation.passLength">
                    <i class="far fa-lock-alt text-primary mr-2"></i>
                    <span class="text-body">{{ $t('message.registration.valid_pass1') }}</span>
                  </p>
                  <p v-if="!validation.passCapital">
                    <i class="far fa-lock-alt text-primary mr-2"></i>
                    <span class="text-body">{{ $t('message.registration.valid_pass2') }}</span>
                  </p>
                  <p v-if="!validation.passDigit">
                    <i class="far fa-lock-alt text-primary mr-2"></i>
                    <span class="text-body">{{ $t('message.registration.valid_pass3') }}</span>
                  </p>
                </div>

                <div class="custom-control custom-checkbox mb-4">
                  <input
                    v-model="isCheckedTerms"
                    type="checkbox"
                    class="custom-control-input"
                    :class="{'is-invalid': !isCheckedTerms}"
                    id="terms"
                    checked
                  >
                  <label class="custom-control-label" for="terms">{{ $t('message.registration.term_desc') }}</label>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="newsletter">
                  <label class="custom-control-label" for="newsletter">{{ $t('message.registration.term_desc1') }}</label>
                </div>

                <div class="form-group mt-6">
                  <b-button
                    variant="btn-primary"
                    class="btn btn-primary btn-lg btn-block"
                    @click="submit"
                  >
                    {{ $t('message.registration.create_account') }}</b-button>
                </div>
              </div>
              <div class="modal-footer with-border justify-content-center">
                <div class="text-center">
                  <div>
                    <router-link to="/login" class="link-grey">{{ $t('message.registration.created') }}</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <!-- Registration modal -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Registration',
  data() {
    return {
      email: '',
      password: '',
      emailValidated: false,
      isCheckedTerms: true,
      validation: {
        passLength: true,
        passCapital: true,
        passDigit: true,
      },
    };
  },
  methods: {
    submit() {
      this.$validator.validate().then((valid) => {
        if (valid && this.isCheckedTerms) {
          this.$store.dispatch('signUpUser', {
            userDetail: {
              email: this.email,
              password: this.password,
            },
            router: this.$router,
          });
        }
      });
    },
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    email() {
      this.emailValidated = false;
    },
    password(val) {
      this.validation.passLength = val.length > 7;
      this.validation.passCapital = val.match(/[^A-Z]*$/).index > 0;
      this.validation.passDigit = val.match(/[^0-9]*$/).index > 0;
    },
    validationErrors(val) {
      this.emailValidated = !!val;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
