<template>
  <div>
    <!-- Reset Pass modal -->
    <transition name="modal">
      <div class="modal-mask" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <b-form>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ $t('message.registration.reset_pass') }}</h5>
                </div>
                <div class="modal-body">
                  <div class="form-group mb-5">
                    <label for="">Нова парола</label>
                    <input
                      class="form-control"
                      v-model="password"
                      v-validate="'required|min:8|max:128|verify_password'"
                      name="password" type="password"
                      :class="{'is-danger': errors.has('password')}"
                      placeholder="минимум 8 символа, 1 главна буква, 1 цифра"
                      ref="password"
                    >
                    <span
                      v-show="errors.has('password')"
                      class="text-danger"
                    >{{ errors.first('password') }}</span>
                  </div>

                  <div class="form-group mb-2">
                    <label for="">Потвърди нова парола</label>
                    <input
                      class="form-control"
                      v-model="password_confirm"
                      v-validate="'required|confirmed:password|min:8|max:128|verify_password'"
                      name="password_confirm"
                      type="password"
                      :class="{'is-danger': errors.has('password_confirm')}"
                      placeholder="минимум 8 символа, 1 главна буква, 1 цифра"
                      data-vv-as="password"
                      v-on:keyup.enter="submit"
                    >
                    <span
                      v-show="errors.has('password_confirm')"
                      class="text-danger"
                    >{{ errors.first('password_confirm') }}</span>
                    <span
                      v-if="detail"
                      :class="{'text-danger': hasError}"
                    >{{ detail }}</span>
                  </div>

                  <div class="form-group mt-6">
                    <b-button
                      @click="submit"
                      variant="btn-primary"
                      class="btn btn-primary btn-lg btn-block"
                    >{{ $t('message.registration.reset_pass') }}</b-button>
                  </div>
                </div>
              </div>
            </b-form>
          </div>
        </div>
      </div>
    </transition>
    <!-- Reset Pass modal -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ResetPassword',
  data() {
    return {
      password: '',
      userValidated: false,
      params: {},
    };
  },
  methods: {
    submit() {
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.$store.dispatch('resetPassword', {
            Detail: {
              user_id: this.params.user_id,
              timestamp: this.params.timestamp,
              signature: this.params.signature,
              password: this.password,
            },
            router: this.$router,
          });
        }
      });
    },
  },
  created() {
    this.params = this.$route.query;
  },
  computed: {
    ...mapGetters([
      'validationErrors',
    ]),
  },
  watch: {
    email() {
      this.userValidated = false;
    },
    validationErrors(val) {
      this.userValidated = !!val;
    },
  },
};
</script>

<style scoped>

</style>
