<template>
  <div>
    <!-- Forgot password modal -->
    <transition name="modal">
      <div class="modal-mask" id="forgotpassModal" tabindex="-1" role="dialog">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <b-form>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ $t('message.registration.success') }}</h5>
                </div>
                <div class="modal-body">
                  <div class="form-group mb-5">
                    <h5 class="modal-title">{{ $t('message.registration.reset_link_sent') }}</h5>
                  </div>
                </div>
              </div>
            </b-form>
          </div>
        </div>
      </div>
    </transition>
    <!-- Login modal -->
  </div>
</template>
<script>
export default {
  name: 'ResetPasswordLinkSent',
};
</script>

<style scoped>

</style>
