<template>
  <div class="modal" id="savingsModal" tabindex="-1" role="dialog" aria-labelledby="savingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="savings"
              id="savings"
              name="savings"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { savings } from '../../store/options';

export default {
  name: 'Savings',
  data() {
    return {
      selected: '',
      savings,
    };
  },
  computed: {
    ...mapGetters([
      'savings',
    ]),
  },
  mounted() {
    if (this.savings) {
      this.selected = this.savings;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('savings', val);
    },
  },
};
</script>

<style scoped>

</style>
