<template>
  <!-- Sell shares modal -->
  <div class="modal fade" id="sellSharesModal" tabindex="-1" role="dialog" aria-labelledby="sellSharesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content is-white">
        <div class="modal-header pb-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
          </button>
        </div>

        <div class="modal-body">
          <div class="tab-content pt-0">
            <!-- Step 1 -->
            <div class="tab-pane fade show active" id="sellStep1">
              <h5 class="text-display mb-5" id="sellSharesModalLabel">Изберете договорен фонд:</h5>

              <div class="custom-control custom-radio mb-4">
                <input type="radio" id="sellOption1" name="desireNewsletter" class="custom-control-input">
                <label class="custom-control-label" for="sellOption1">ДФ Smart Tech</label>
              </div>

              <div class="custom-control custom-radio mb-4">
                <input type="radio" id="sellOption2" name="desireNewsletter" class="custom-control-input">
                <label class="custom-control-label" for="sellOption2">ДФ Алфа Sofix Индекс</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="sellOption3" name="desireNewsletter" class="custom-control-input">
                <label class="custom-control-label" for="sellOption3">ДФ Алфa Индекс Имоти</label>
              </div>

              <button class="btn btn-primary js-go-to-step mt-7 d-block d-inline-block" data-step="#sellStep2">Продължи</button>
            </div>
            <!-- Step 1 -->

            <!-- Step 2 -->
            <div class="tab-pane fade" id="sellStep2">

              <h5 class="text-display mb-5">Продайте дялове от ДФ Smart Tech чрез:</h5>

              <div class="accordion is-bordered" id="sellAccordionWizzard">
                <!-- Банков превод -->
                <div class="accordion-item">
                  <div class="accordion-header" id="sellHeading1">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem1" aria-expanded="false"
                       aria-controls="sellAccWizItem1">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">Банков превод</span>
                    </span>
                    </p>
                  </div>

                  <div id="sellAccWizItem1" class="collapse" aria-labelledby="sellHeading1" data-parent="#sellAccordionWizzard">
                    <div class="accordion-body">
                      <div class="form-group mb-5">
                        <label for="">Име на получател</label>
                        <input type="text" class="form-control" value="ДФ Смарт Тех" disabled>
                      </div>

                      <div class="form-group mb-5">
                        <label for="">IBAN на получателя</label>
                        <input type="tel" class="form-control" value="BG80 BNBG 9661 1020 3456 78" disabled>
                      </div>

                      <div class="form-group">
                        <label for="">Основание за превод</label>
                        <input type="text" class="form-control" value="Закупуване на дялове" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Банков превод -->

                <!-- ePay.bg -->
                <div class="accordion-item">
                  <div class="accordion-header" id="sellHeading2">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem3" aria-expanded="false"
                       aria-controls="sellAccWizItem3">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">ePay.bg</span>
                    </span>
                      <span>
                      <img height="30" src="img/logos/epay.png" alt="">
                    </span>
                    </p>
                  </div>

                  <div id="sellAccWizItem3" class="collapse" aria-labelledby="sellHeading2" data-parent="#sellAccordionWizzard">
                    <div class="accordion-body">
                      <p class="text-light mb-6">Към размера на инвестицията ще бъде начислена такса за транзакцията в размер от хх.хх лв.</p>

                      <label for="">Размер на инвестицията (в лв)</label>
                      <div class="d-md-flex align-items-center">
                        <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                        <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#sellStep3">Продължи</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ePay.bg -->

                <!-- PayPal -->
                <div class="accordion-item">
                  <div class="accordion-header" id="sellHeading2">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#sellAccWizItem4" aria-expanded="false"
                       aria-controls="sellAccWizItem4">
                    <span class="d-flex align-items-center">
                      <span class="d-none d-md-flex accordion-icon">
                      </span>
                      <span class="text-title">PayPal</span>
                    </span>
                      <span>
                      <img height="30" src="img/logos/paypal.png" alt="">
                    </span>
                    </p>
                  </div>

                  <div id="sellAccWizItem4" class="collapse" aria-labelledby="sellHeading2" data-parent="#sellAccordionWizzard">
                    <div class="accordion-body">
                      <p class="text-light mb-6">Ще бъдете пренасочени към www.paypal.com, където да извършите плащането.</p>

                      <label for="">Размер на инвестицията (в лв)</label>
                      <div class="d-md-flex align-items-center">
                        <input type="tel" class="form-control flex-1 mb-4 mb-md-0 mr-md-5">
                        <button class="btn btn-primary js-go-to-step d-block d-md-inline-block" data-step="#sellStep3">Продължи</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- PayPal -->

              </div>
            </div>
            <!-- Step 2 -->

            <!-- Step 3 -->
            <div class="tab-pane fade" id="sellStep3">

              <div class="d-flex">
                <i class="far fa-check-double text-primary modal-icon mr-4"></i>
                <div>
                  <h5 class="text-display mb-4" id="successModalLabel">Успешно заявихте продажбата на дялове от ДФ Smart Tech на стойност 5 000.00
                    лв!</h5>
                  <p>Стойността на дяловете, които желаете да продадете, ще бъде изплатена в банковата ви сметка в срок от 7 работни дни.</p>
                </div>
              </div>

            </div>
            <!-- Step 3 -->
          </div>

        </div>

        <div class="modal-footer pb-0">
        </div>
      </div>
    </div>
  </div>
  <!-- Sell shares modal -->
</template>

<script>
export default {
  name: 'SellShares',
};
</script>

<style scoped>

</style>
