<template>
  <!-- Success modal -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-dialogiBA modal-lg" role="document">
        <div class="modal-content is-white">
          <div class="modal-header pb-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>

          <div class="modal-body">
            <div class="d-flex">
              <i class="far fa-check-double text-primary modal-icon mr-4"></i>
              <h5 class="text-display" id="successModalLabel">Успешно заявихте закупуване на дялове от ДФ Smart Tech на стойност 5 000.00 лв!</h5>
            </div>
          </div>

          <div class="modal-footer pb-0">
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Success modal -->
</template>

<script>
export default {
  name: 'Success',
};
</script>

<style scoped>

</style>
