<template>
  <!-- Update photo modal -->
  <div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content is-white">
        <div class="modal-header pb-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
          </button>
        </div>

        <div class="modal-body">
          <h5 class="text-display mb-5">Променете профилната си снимка</h5>

          <div class="d-md-flex align-items-center mt-7">
            <button class="btn btn-primary js-go-to-step mr-4 d-block d-md-inline-block mb-4 mb-md-0" data-step="#uploadStep2">Изберете нова снимка
            </button>
            <button class="btn btn-link text-danger d-block d-md-inline-block" data-dismiss="modal"><i class="far fa-trash-alt"></i> Изтрийте</button>
          </div>
        </div>

        <div class="modal-footer pb-0">
        </div>
      </div>
    </div>
  </div>
  <!-- Update photo modal -->
</template>

<script>
export default {
  name: 'UpdatePhoto',
};
</script>

<style scoped>

</style>
