<template>
  <!-- Upload photo modal -->
  <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content is-white">
        <div class="modal-header pb-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
          </button>
        </div>

        <div class="modal-body">
          <h5 class="text-display mb-5">Изберете профилна снимка</h5>

          <div class="container-upload">
            <i class="far fa-images container-upload-icon mb-5"></i>
            <p class="text-light mb-5">Плъзнете и поставете профилната си снимка тук или</p>
            <button class="btn btn-primary" data-dismiss="modal">Изберете файл</button>
          </div>
        </div>

        <div class="modal-footer pb-0">
        </div>
      </div>
    </div>
  </div>
  <!-- Upload photo modal -->
</template>

<script>
export default {
  name: 'UploadPhoto',
};
</script>

<style scoped>

</style>
