<template>
  <div class="modal" id="yearlyIrregularIncomeModal" tabindex="-1" role="dialog" aria-labelledby="YearlyIrregularIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content is-white">
        <div class="modal-body">
          <b-form-group>
            <b-form-radio-group
              :options="irregularYearlyIncome"
              id="yearlyIrregularIncome"
              name="yearlyIrregularIncome"
              stacked
              v-model="selected"></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { irregularYearlyIncome } from '../../store/options';

export default {
  name: 'YearlyIrregularIncome',
  data() {
    return {
      selected: '',
      irregularYearlyIncome,
    };
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
    ]),
  },
  mounted() {
    if (this.onBoardingData.irregular_yearly_income) {
      this.selected = this.onBoardingData.irregular_yearly_income;
    }
  },
  watch: {
    selected(val) {
      this.$store.dispatch('yearlyIrregularIncome', val);
    },
  },
};
</script>

<style scoped>

</style>
