<template>
  <div class="section pt-5 pb-5 pt-md-10 pb-md-10">
    <div class="container">

      <h1 class="text-mega mb-10">Grid</h1>

      <p class="mb-3">Grid width - 1224px</p>

      <div class="row mb-4">
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-2 col-md-1">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 col-md-3">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-3">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-3">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-3">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 col-md-4">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-4">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-4">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 col-md-6">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="bg-success text-center text-dark p-2">Col</p>
        </div>
      </div>

      <a class="link-primary" href="/">Back to home</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Grid',
};
</script>

<style scoped>

</style>
