<template>
  <div>
    <div class="section pt-5 pb-5 pt-md-10 pb-md-10">
      <div class="container">
        <h1 class="text-mega mb-3">U2Vest project</h1>
        <p class="small mb-7">Made with 💜 by <a href="https://stan.bg/" class="link-primary" target="_blank" rel="noopener">StanVision</a></p>

        <h2 class="text-title mb-3">U2Vest pages:</h2>
        <ul>
          <li><router-link class="link-primary" to="/style-guide">Styleguide & Elements</router-link></li>
          <li><router-link class="link-primary" to="/registration">Registration</router-link></li>
          <li><router-link class="link-primary" to="/login">Login</router-link></li>
          <li><router-link class="link-primary" to="/on-boarding-00">Onboarding</router-link></li>
          <li><router-link class="link-primary" to="/bg/funds">Funds</router-link></li>
          <li><router-link class="link-primary" to="/bg/activity">Activity</router-link></li>
          <li><router-link class="link-primary" to="/bg/notifications">Notifications</router-link></li>
          <li><router-link class="link-primary" to="/bg/news">News</router-link></li>
          <li><router-link class="link-primary" to="/bg/news_single">News single</router-link></li>
          <li><router-link class="link-primary" to="/bg/profile">Profile</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  components: {
  },
  data() {
    return {
    };
  },
};
</script>
