<template>
  <div>
    <div class="content not-logged">
      <div class="section pt-5 pb-5 pt-md-10 pb-md-10">
        <div class="container">

          <h1 class="text-mega mb-10">Styleguide</h1>

          <h3 class="text-headline mb-5">Colors</h3>

          <div class="row mb-4">
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-primary text-white text-center">Primary</div>
            </div>
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-secondary text-center">Secondary</div>
            </div>
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-success text-white text-center">Success</div>
            </div>
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-danger text-white text-center">Danger</div>
            </div>
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-warning text-white text-center ">Warning</div>
            </div>
            <div class="col-12 col-md-2">
              <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-info text-white text-center">Info</div>
            </div>
          </div>

          <h3 class="text-headline mb-5 mt-7">Typography</h3>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <h1 class="text-hero mr-4">Text hero</h1>
              <p class="text-light">32px / 40px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <h1 class="text-mega mr-4">Text mega</h1>
              <p class="text-light">24px / 32px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <h2 class="text-display mr-4">Text display</h2>
              <p class="text-light">24px / 28px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <h3 class="text-headline mr-4">Text headline</h3>
              <p class="text-light">20px / 24px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <h4 class="text-title mr-4">Text title</h4>
              <p class="text-light">20px / 20px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <p class="mr-4">Text default</p>
              <p class="text-light">18px / 18px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <p class="mr-4 text-body">Text body</p>
              <p class="text-light">16px / 16px</p>
            </div>
          </div>

          <div class="mb-4">
            <div class="d-flex align-items-center">
              <p class="small mr-4">Text small</p>
              <p class="text-light">14px / 14px</p>
            </div>
          </div>

          <h1 class="text-mega mb-10 mt-10">Elements</h1>

          <!-- Buttons -->
          <h3 class="text-headline mb-5">Buttons</h3>

          <div class="row mb-4">
            <div class="col-12 mb-4">
              <button type="button" class="btn btn-primary btn-lg mr-3">Primary large</button>
              <button type="button" class="btn btn-primary mr-3">Primary</button>
              <button type="button" class="btn btn-primary mr-3" disabled>Primary disabled</button>
              <button type="button" class="btn btn-primary btn-sm mr-3">Primary small</button>
            </div>
            <div class="col-12 mb-4">
              <div class="bg-primary p-5">
                <button type="button" class="btn btn-secondary btn-lg mr-3">Secondary large</button>
                <button type="button" class="btn btn-secondary mr-3">Secondary</button>
                <button type="button" class="btn btn-secondary mr-3" disabled>Secondary disabled</button>
                <button type="button" class="btn btn-secondary btn-sm mr-3">Secondary small</button>
              </div>
            </div>
            <div class="col-12 mb-4">
              <div class="bg-primary p-5">
                <button type="button" class="btn btn-outline-secondary btn-lg mr-3">Secondary outline large</button>
                <button type="button" class="btn btn-outline-secondary mr-3">Secondary outline</button>
                <button type="button" class="btn btn-outline-secondary mr-3" disabled>Secondary outline disabled</button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-3">Secondary outline small</button>
              </div>
            </div>
          </div>
          <!-- Buttons -->

          <!-- Forms -->
          <h3 class="text-headline mt-7 mb-5">Forms</h3>

          <div class="row mb-4">
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Conversational input</label>
                <input type="email" class="form-control" placeholder="name@example.com">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Conversational input invalid</label>
                <input type="email" class="form-control is-invalid" placeholder="name@example.com">
                <div class="invalid-feedback">
                  Invalid e-mail.
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Default input disabled</label>
                <input type="email" class="form-control" disabled placeholder="name@example.com">
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Conversational input</label>
                <input type="email" class="form-control custom-form-control" placeholder="град">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Conversational input invalid</label>
                <input type="email" class="form-control custom-form-control is-invalid" placeholder="град">
                <div class="invalid-feedback">
                  Invalid e-mail.
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Conversational input disabled</label>
                <input type="email" class="form-control custom-form-control" disabled placeholder="град">
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Custom select</label>
                <div class="custom-select-wrapper">
                  <select class="custom-select form-control">
                    <option>Select an option...</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group mb-5">
                <label>Custom select invalid</label>
                <div class="custom-select-wrapper">
                  <select class="custom-select form-control is-invalid">
                    <option>Select an option...</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-6">
              <div class="form-group mb-5">
                <label>Custom checkbox</label>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Check this custom checkbox 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2">Check this custom checkbox 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                  <label class="custom-control-label" for="customCheck3">Check this custom checkbox 3</label>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-5">
                <label>Custom radios</label>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3">Or toggle this other custom radio</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Forms -->

          <!-- Tabs -->
          <h3 class="text-headline mt-7 mb-5">Tabs</h3>

          <div class="row mb-4">
            <div class="col-lg-6">
              <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                     aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                  >Profile</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#contact"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                  >Contact</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
              </div>
            </div>
          </div>
          <!-- Tabs -->

          <!-- Pills -->
          <h3 class="text-headline mt-7 mb-5">Pills</h3>

          <div class="row mb-4">
            <div class="col-lg-6">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                     aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                     aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                     aria-selected="false">Contact</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
              </div>
            </div>
          </div>
          <!-- Pills -->

          <!-- Tables -->
          <h3 class="text-headline mt-7 mb-5">Tables</h3>

          <div class="row mb-5">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h2 class="text-title">Портфолио</h2>
                </div>
                <div class="card-body with-table">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">Компания</th>
                        <th scope="col" class="text-right">Тегло</th>
                        <th scope="col">Тикер</th>
                        <th scope="col" class="text-right">Пазарна цена ($)</th>
                        <th scope="col" class="text-right">Бр. акции във фонда</th>
                        <th scope="col" class="text-right">Пазарна капитализация ($)</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Apple Inc.</td>
                        <td class="text-right cell-numeric">31.8%</td>
                        <td>AAPL</td>
                        <td class="text-right cell-numeric">220.65</td>
                        <td class="text-right cell-numeric">713</td>
                        <td class="text-right cell-numeric">147 824 192.16</td>
                      </tr>
                      <tr>
                        <td>Alphabet Inc.</td>
                        <td class="text-right cell-numeric">24%</td>
                        <td>GOOG</td>
                        <td class="text-right cell-numeric">1 101.16</td>
                        <td class="text-right cell-numeric">678</td>
                        <td class="text-right cell-numeric">89 702 199.30</td>
                      </tr>
                      <tr>
                        <td>Microsoft Corporation</td>
                        <td class="text-right cell-numeric">18%</td>
                        <td>MSFT</td>
                        <td class="text-right cell-numeric">109.63</td>
                        <td class="text-right cell-numeric">617</td>
                        <td class="text-right cell-numeric">74 174 446.83</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6 mb-5 mb-md-0">
              <div class="card">
                <div class="card-header">
                  <h2 class="text-title">Основна информация</h2>
                </div>
                <div class="card-body">
                  <div class="table-row">
                    <p class="small text-light">Тип</p>
                    <p class="text-body text-md-right">Балансиран до умерено висок риск</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Страна</p>
                    <p class="text-body text-md-right">България</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Регистрация</p>
                    <p class="text-body text-md-right">05 август 2009</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Валута</p>
                    <p class="text-body text-md-right">Български лев (BGN)</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Банка депозитoр</p>
                    <p class="text-body text-md-right">Юробанк България АД</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Регулиран пазар</p>
                    <p class="text-body text-md-right">Не се търгува</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Фокус</p>
                    <p class="text-body text-md-right">Акции на емитенти от технологичния сектор</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2 class="text-title">Детайли</h2>
                </div>
                <div class="card-body">
                  <div class="table-row">
                    <p class="small text-light">Минимална инвестиция</p>
                    <p class="text-body text-md-right">200.00 лв</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Препоръчителен срок</p>
                    <p class="text-body text-md-right">3 години</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Такса при емитиране</p>
                    <p class="text-body text-md-right">0.25%</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Такса при обратно изкупуване</p>
                    <p class="text-body text-md-right">0.25%</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Такса за управление</p>
                    <p class="text-body text-md-right">2.00%</p>
                  </div>
                  <div class="table-row">
                    <p class="small text-light">Такса за постигнат положителен резултат</p>
                    <p class="text-body text-md-right">20.00%</p>
                  </div>
                  <p class="small text-light mt-4">* Всички такси и комисиони са отразени в цената на дял</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Tables -->

          <!-- Accordion -->
          <h3 class="text-headline mt-7 mb-5">Accordion</h3>
          <div class="card mb-7">
            <div class="card-header">
              <h2 class="text-title">Въпроси и отговори</h2>
            </div>
            <div class="card-body">
              <div class="accordion mb-5" id="accordionQandA">

                <div class="accordion-item">
                  <div class="accordion-header" id="heading1">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                       aria-controls="collapse1">
                      <span class="text-title">Какъв е рисковият профил на фонда?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading2">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                       aria-controls="collapse2">
                      <span class="text-title">В какво инвестира фондът?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading3">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                       aria-controls="collapse3">
                      <span class="text-title">В каква валута е инвестицията във фонда?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading4">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                       aria-controls="collapse4">
                      <span class="text-title">За какъв тип инвеститори е подходящ този фонд?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading5">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                       aria-controls="collapse5">
                      <span class="text-title">Какви такси се плащат на фонда?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading6">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                       aria-controls="collapse6">
                      <span class="text-title">По какви цени си купувам дялове от фонда?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading7">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                       aria-controls="collapse7">
                      <span class="text-title">Как мога да изтегля пари?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading8">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false"
                       aria-controls="collapse8">
                      <span class="text-title">Какви данъци трябва да плащам ако спечеля?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading9">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false"
                       aria-controls="collapse9">
                      <span class="text-title">Как разбирам какво печеля?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <div class="accordion-header" id="heading10">
                    <p class="accordion-trigger collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false"
                       aria-controls="collapse10">
                      <span class="text-title">Как съм защитен от измами?</span>
                      <span class="d-none d-md-flex accordion-icon">
                  <i class="far fa-plus"></i>
                  <i class="far fa-minus"></i>
                </span>
                    </p>
                  </div>

                  <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionQandA">
                    <div class="accordion-body text-lead text-slate">
                      Високорисковите фондове са подходящи за хора, които имат суми, от които не зависи ежедневието и стандарта им на живот, заради
                      което те са готови да рискуват и да се опитат да получат много висока възвръщаемост за тях. Възможността за непрекъснат достъп
                      до парите си и липсата на данък печалба са важни мотиви при избора на инвестицията в този фонд.
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Accordion -->

          <router-link class="link-primary" to="/">Back to home</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StyleGuide',
};
</script>

<style scoped>

</style>
