<template>
  <div>
    <div class="overlay"></div>

    <div class="wrapper">
      <HeaderNotLogged></HeaderNotLogged>
      <div class="content not-logged">
        <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">
          <div class="row">
            <div class="col-xl-7 mb-4 mb-xl-0">
              <h2 class="text-mega">Какъв тип месечни доходи имате към момента?</h2>
            </div>
            <div class="col-xl-5">
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="income-1" checked>
                <label class="custom-control-label" for="income-1">Трудови възнаграждения</label>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="income-2">
                <label class="custom-control-label" for="income-2">Социални плащания (пенсии, стипендии и подобни)</label>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="income-3">
                <label class="custom-control-label" for="income-3">Доходи от наеми/аренди</label>
              </div>
              <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="income-4">
                <label class="custom-control-label" for="income-4">Други</label>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-5 mt-lg-9 mb-lg-9">

          <div class="row">
            <div class="col-xl-7 mb-4 mb-xl-0">
              <h2 class="text-mega">Каква е приблизителната им сума?</h2>
            </div>
            <div class="col-xl-5">
              <div class="custom-control custom-radio">
                <input type="radio" id="incomeAmount-1" name="incomeAmount" class="custom-control-input" checked>
                <label class="custom-control-label" for="incomeAmount-1">До 500лв</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="incomeAmount-2" name="incomeAmount" class="custom-control-input">
                <label class="custom-control-label" for="incomeAmount-2">От 500лв до 1000лв</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="incomeAmount-3" name="incomeAmount" class="custom-control-input">
                <label class="custom-control-label" for="incomeAmount-3">От 1000лв до 5000лв</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="incomeAmount-4" name="incomeAmount" class="custom-control-input">
                <label class="custom-control-label" for="incomeAmount-4">Над 5000лв</label>
              </div>
            </div>
          </div>

          <div class="d-md-flex justify-content-end mt-9">
            <router-link to="/on-boarding-03" class="btn btn-primary btn-lg d-block d-md-inline-block order-md-12 mb-3 mb-md-0">Продължи <i
              class="fal fa-long-arrow-right"></i></router-link>
            <router-link to="/on-boarding-01" class="btn btn-link btn-lg d-block d-md-inline-block order-md-1"><i class="fal fa-long-arrow-left"></i>
              Назад
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderNotLogged from '@/layouts/HeaderNotLogged.vue';

export default {
  name: 'Onboarding02Alt',
  components: {
    HeaderNotLogged,
  },
};
</script>

<style scoped>

</style>
