<template>
  <div>
    <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">
      <p class="text-mega">
        Инвестиции и плащания при покупка и продажба на дялове от договорни фондове ще се извършват от левовата ми сметка
        <input
          class="form-control custom-form-control input-iban"
          placeholder="IBAN"
          name="iban"
          v-model="ibanVal"
          :class="{'is-invalid': !isValidIBAN && isLoaded}"
        >
<!--        <masked-input-->
<!--          :guide="true"-->
<!--          :mask="maskIBAN"-->
<!--          class="form-control custom-form-control w-208 js-conv-input"-->
<!--          :class="{'is-invalid': !isValidIBAN}"-->
<!--          data-width="300"-->
<!--          name="iban"-->
<!--          placeholder="IBAN"-->
<!--          placeholderChar="#"-->
<!--          type="text"-->
<!--          v-model="ibanVal">-->
<!--        </masked-input>-->
        .
      </p>

      <div class="d-md-flex justify-content-end mt-9">
        <b-button
          variant="btn-primary"
          class="btn-primary btn-lg d-block d-md-inline-block order-md-12 mb-3 mb-md-0"
          @click="submit"
        >
          {{ $t('message.on_boarding.finish') }} <i class="fal fa-long-arrow-right"></i>
        </b-button>
        <router-link
          class="btn btn-link btn-lg d-block d-md-inline-block order-md-1"
          to="/on-boarding-03"
        >
          <i class="fal fa-long-arrow-left"></i>
          {{ $t('message.on_boarding.previous') }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import IBAN from 'iban';

export default {
  name: 'Onboarding04',
  data() {
    return {
      ibanVal: '',
      isLoaded: false,
      isValidIBAN: false,
      maskIBAN: [
        'B', 'G', /\d/, /\d/,
        ' ', /[A-Z]/, /[A-Z]/, /[A-Z]/, /[A-Z]/,
        ' ', /\d/, /\d/, /\d/, /\d/,
        ' ', /\d/, /\d/, /\d/, /\d/,
        ' ', /\d/, /\d/, /\d/, /\d/,
        ' ', /\d/, /\d/,
      ],
    };
  },
  methods: {
    submit() {
      this.isLoaded = true;
      if (this.isValidIBAN) {
        this.onBoardingData.iban = this.ibanVal;
        this.$store.dispatch('onBoard', {
          onBoardingData: this.onBoardingData,
          router: this.$router,
          targetRouter: `/${this.selectedLocale.locale}/funds`,
        });
      }
    },
    ibanCheck(val) {
      return IBAN.isValid(val);
    },
  },
  mounted() {
    if (this.onBoardingData.iban) {
      this.ibanVal = this.onBoardingData.iban;
      this.isValidIBAN = this.ibanCheck(this.onBoardingData.iban);
    }
  },
  computed: {
    ...mapGetters([
      'onBoardingData',
      'selectedLocale',
      'languages',
    ]),
  },
  watch: {
    ibanVal(val) {
      this.isLoaded = true;
      this.isValidIBAN = this.ibanCheck(val);
    },
  },
};
</script>

<style scoped>
  .input-iban {
    width: 480px !important;
  }
</style>
