<template>
  <div>
    <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">

      <p class="text-mega is-conv">
        Здравейте, казвам се
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="170"
          placeholder="име"
          v-validate="'required|alpha_dash'"
          v-model="onBoardingData.first_name"
          :class="{'is-invalid': errors.first('first_name')}"
          name="first_name"
          type="text"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          :class="{'is-invalid': errors.first('patronymic')}"
          data-width="170"
          placeholder="презиме"
          v-validate="'required|alpha_dash'"
          v-model="onBoardingData.patronymic"
          name="patronymic"
          type="text"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          :class="{'is-invalid': errors.first('last_name')}"
          data-width="170"
          placeholder="фамилия"
          v-validate="'required|alpha_dash'"
          v-model="onBoardingData.last_name"
          name="last_name"
          type="text"
        >, и съм роден/а
        <input
          class="form-control custom-form-control js-conv-input"
          max="31"
          maxlength="2"
          min="1"
          pattern="\d*"
          placeholder="ДД"
          type="number"
          data-width="140"
          v-validate="'required|max_value:31'"
          v-model="birth_day.day"
          name="day"
          :class="{'is-invalid': errors.first('day')}"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          max="12"
          maxlength="2"
          min="1"
          pattern="\d*"
          placeholder="ММ"
          type="number"
          data-width="140"
          v-validate="'required|max_value:12'"
          v-model="birth_day.month"
          name="month"
          :class="{'is-invalid': errors.first('month')}"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          maxlength="4"
          max="2001"
          min="1930"
          pattern="\d*"
          placeholder="ГГГГ"
          type="number"
          data-width="140"
          v-validate="'required|min_value:1930'"
          v-model="birth_day.year"
          name="year"
          :class="{'is-invalid': errors.first('year')}"
        >. Имам
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="520"
          placeholder="всяко гражданство, което имате"
          v-validate="{required: true, max: 250, regex: /[\W, ]*/}"
          v-model="citizenships"
          name="citizenships"
          :class="{'is-invalid': errors.first('citizenships')}"
        > гражданство, постоянният ми адрес е
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="170"
          placeholder="град"
          v-validate="'required|alpha_spaces|max:64'"
          v-model="onBoardingData.city"
          name="city"
          :class="{'is-invalid': errors.first('city')}"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="170"
          placeholder="адрес"
          v-validate="'required|max:255'"
          v-model="onBoardingData.address"
          name="address"
          :class="{'is-invalid': errors.first('address')}"
        > и адресът ми за кореспонденция e
        <input
          class="form-control custom-form-control js-conv-input"
          placeholder="град"
          name="mailing_city"
          data-width="170"
          v-model="onBoardingData.mailing_city"
        >
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="380"
          placeholder="и адрес ако е различен"
          name="mailing_address"
          v-model="onBoardingData.mailing_address"
        >.
      </p>
      <br><br>
      <p class="text-mega is-conv">
        Притежавам образователна степен
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#educationDegreeModal"
          :class="{'is-selected': isSelectedEducationDegree,
           'is-invalid': !isSelectedEducationDegree && isLoaded}"
          v-text="education"
        ></span>
        <transition name="fade">
          <input
            v-if="otherOptionVisible"
            v-model="onBoardingData.education_other"
            class="form-control custom-form-control js-conv-input ml-3"
            placeholder="други"
            style="display: inline-block; width: 170px;"
          >
        </transition>
        , работя в
        <input
          class="form-control custom-form-control js-conv-input"
          placeholder="име на фирма"
          data-width="238"
          name="employer"
          v-model="onBoardingData.employer"
          v-validate="'required|max:64'"
          :class="{'is-invalid': errors.first('employer')}"
        > на позиция
        <input
          class="form-control custom-form-control js-conv-input"
          placeholder="длъжност"
          name="position"
          v-model="onBoardingData.position"
          v-validate="'required|max:64'"
          :class="{'is-invalid': errors.first('position')}"
        > от
        <input
          :class="{'is-invalid': errors.first('employment_years')}"
          class="form-control custom-form-control js-conv-input"
          data-width="140"
          max="99"
          maxlength="2"
          min="0"
          name="employment_years"
          pattern="\d*"
          placeholder="години"
          type="number"
          v-model="onBoardingData.employment_years"
          v-validate="'required|max_value:99'"
        >.
      </p>

      <br><br>

      <p class="text-mega is-conv">
        Може да се свържете с мен на телефон
        <input
          class="form-control custom-form-control js-conv-input"
          data-width="265"
          placeholder="мобилен номер"
          name="phone"
          v-model="onBoardingData.phone"
          v-validate="{ required: true, regex: /^[+0-9 ]*$/ }"
          :class="{'is-invalid': errors.first('phone')}"
        >.
      </p>

      <div class="d-md-flex justify-content-end mt-9">
        <b-button
          variant="btn-primary"
          class="btn-primary btn-lg d-block d-md-inline-block order-md-12 mb-3 mb-md-0"
          @click="submit"
        >
          {{ $t('message.on_boarding.next') }} <i class="fal fa-long-arrow-right"></i>
        </b-button>
        <router-link
          class="btn btn-link btn-lg d-block d-md-inline-block order-md-1"
          to="/on-boarding-00"
        >
          <i class="fal fa-long-arrow-left"></i> {{ $t('message.on_boarding.previous') }}
        </router-link>
      </div>
    </div>
    <EducationDegree ref="educationDegreeModal"></EducationDegree>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment';
import EducationDegree from '@/components/Modals/EducationDegree.vue';

export default {
  name: 'Onboarding01',
  data() {
    return {
      birth_day: {},
      citizenships: '',
      isLoaded: false,
      education: 'избор на степен',
      isSelectedEducationDegree: false,
      otherOptionVisible: false,
    };
  },
  components: {
    EducationDegree,
  },
  methods: {
    submit() {
      this.isLoaded = true;
      this.$validator.validate().then((valid) => {
        if (valid && this.isSelectedEducationDegree) {
          this.onBoardingData.birth_day = `${this.birth_day.year}-${this.birth_day.month}-${this.birth_day.day}`;
          this.onBoardingData.citizenships = this.citizenships.split(',');
          this.$router.push('/on-boarding-02');
        }
      });
    },
  },
  computed: {
    ...mapGetters([
      'educationDegree',
      'onBoardingData',
    ]),
  },
  mounted() {
    // console.debug(this.$refs.educationDegreeModal);
    const birthDay = this.onBoardingData.birth_day;
    if (birthDay) {
      this.birth_day = {
        year: moment(birthDay, 'YYYY-MM-DD').format('YYYY'),
        month: moment(birthDay, 'YYYY-MM-DD').format('MM'),
        day: moment(birthDay, 'YYYY-MM-DD').format('DD'),
      };
    }
    if (this.onBoardingData.citizenships) {
      this.citizenships = this.onBoardingData.citizenships.join();
    }
    const education = this.onBoardingData.education;
    if (education) {
      this.education = education;
      this.isSelectedEducationDegree = true;
      this.isLoaded = true;
      this.otherOptionVisible = education === 'друго';
    }
  },
  watch: {
    educationDegree(val) {
      this.isSelectedEducationDegree = val !== '';
      this.otherOptionVisible = val === 'друго';
      this.education = val;
      this.isLoaded = true;
      this.onBoardingData.education = val;
      // console.debug(this.$refs.educationDegreeModal);
    },
    onBoardingData(val) {
      this.$store.dispatch('onBoardingData', val);
    },
  },
};
</script>

<style scoped lang="scss">
  .js-conv-input {
    /*display: inline-block !important;*/
    margin: 0 5px;
  }

</style>
