<template>
  <div>
    <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">
      <p class="text-mega">
        В момента имам месечни доходи от <span
        class="form-control custom-form-control is-dropdown"
        data-toggle="modal"
        data-target="#monthlyIncomeSourceModal"
        :class="{'is-selected': isSelectedMonthlyIncomeSource,
         'is-invalid': !isSelectedMonthlyIncomeSource && isLoaded}"
        v-text="monthlyIncomeSourceData"
      ></span>
        <transition name="fade">
          <input
            v-if="otherOptionVisible1"
            v-model="onBoardingData.main_source_of_income_others"
            class="form-control custom-form-control js-conv-input ml-3"
            placeholder="други"
            style="display: inline-block; width: 170px;"
          >
        </transition>
         на приблизителна нетна стойност
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#monthlyIncomeModal"
          :class="{'is-selected': isSelectedMonthlyIncome,
           'is-invalid': !isSelectedMonthlyIncome && isLoaded}"
          v-text="monthlyIncomeData"
        ></span>.
      </p>

      <br><br>

      <p class="text-mega">
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#otherIncomeSourceModal"
          :class="{'is-selected': isSelectedOtherIncomeSource,
           'is-invalid': !isSelectedOtherIncomeSource && isLoaded}"
          v-text="otherIncomeSourceData"
        ></span> и други нерегулярни доходи, които получавам от
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#irregularIncomeModal"
          :class="{'is-selected': isSelectedIrregularIncome,
           'is-invalid': !isSelectedIrregularIncome && isTrueOtherIncomeSource}"
          v-text="irregularIncomeData"
        ></span>
        <transition name="fade">
          <input
            v-if="otherOptionVisible2"
            v-model="onBoardingData.irregular_source_of_income_others"
            class="form-control custom-form-control js-conv-input ml-3"
            placeholder="други"
            style="display: inline-block; width: 170px;"
          >
        </transition>
         на стойност
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#yearlyIrregularIncomeModal"
          :class="{'is-selected': isSelectedYearlyIrregularIncome,
           'is-invalid': !isSelectedYearlyIrregularIncome && isTrueOtherIncomeSource}"
          v-text="yearlyIrregularIncomeData"
        ></span> за последната година.
      </p>

      <div class="d-md-flex justify-content-end mt-9">
        <b-button
          variant="btn-primary"
          class="btn-primary btn-lg d-block d-md-inline-block order-md-12 mb-3 mb-md-0"
          @click="submit"
        >
          {{ $t('message.on_boarding.next') }} <i class="fal fa-long-arrow-right"></i>
        </b-button>
        <router-link
          to="/on-boarding-01"
          class="btn btn-link btn-lg d-block d-md-inline-block order-md-1"
        ><i class="fal fa-long-arrow-left"></i> {{ $t('message.on_boarding.previous') }}</router-link>
      </div>
    </div>
    <MonthlyIncomeSource></MonthlyIncomeSource>
    <MonthlyIncome></MonthlyIncome>
    <IrregularIncome></IrregularIncome>
    <OtherIncomeSource></OtherIncomeSource>
    <YearlyIrregularIncome></YearlyIrregularIncome>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MonthlyIncome from '@/components/Modals/MonthlyIncome.vue';
import MonthlyIncomeSource from '@/components/Modals/MonthlyIncomeSource.vue';
import IrregularIncome from '@/components/Modals/IrregularIncome.vue';
import OtherIncomeSource from '@/components/Modals/OtherIncomeSource.vue';
import YearlyIrregularIncome from '@/components/Modals/YearlyIrregularIncome.vue';

export default {
  name: 'Onboarding02',
  data() {
    return {
      isLoaded: false,
      irregularIncomeData: 'източници',
      isSelectedIrregularIncome: false,
      isSelectedMonthlyIncome: false,
      isSelectedMonthlyIncomeSource: false,
      isSelectedOtherIncomeSource: false,
      isSelectedYearlyIrregularIncome: false,
      isTrueOtherIncomeSource: false,
      monthlyIncomeSourceData: 'източници',
      monthlyIncomeData: 'сума',
      otherIncomeSourceData: 'имам',
      otherOptionVisible1: false,
      otherOptionVisible2: false,
      yearlyIrregularIncomeData: 'сума',
    };
  },
  components: {
    MonthlyIncome,
    MonthlyIncomeSource,
    IrregularIncome,
    OtherIncomeSource,
    YearlyIrregularIncome,
  },
  methods: {
    submit() {
      this.isLoaded = true;
      if (this.isSelectedMonthlyIncome
        && this.isSelectedMonthlyIncomeSource
        && this.isSelectedOtherIncomeSource
        && (!this.isTrueOtherIncomeSource
          || (this.isSelectedIrregularIncome && this.isSelectedYearlyIrregularIncome)
        )
      ) {
        this.$router.push('/on-boarding-03');
      }
    },
    irregularIncomeFunc(val) {
      this.isSelectedIrregularIncome = val.length > 0;
      if (val.length > 1) {
        this.irregularIncomeData = `${val.length} избрани опции`;
      } else if (this.isSelectedIrregularIncome && val.length === 1) {
        this.irregularIncomeData = this.irregularIncome[0];
      }
      const result = val.filter(v => v === 'others');
      this.otherOptionVisible2 = !!result.length;
      if (!val.length) {
        this.otherOptionVisible2 = false;
        this.irregularIncomeData = 'източници';
      }
    },
    monthlyIncomeSourceFunc(val) {
      this.isSelectedMonthlyIncomeSource = val.length > 0;
      if (val.length > 1) {
        this.monthlyIncomeSourceData = `${val.length} избрани опции`;
      } else if (this.isSelectedMonthlyIncomeSource && val.length === 1) {
        this.monthlyIncomeSourceData = this.monthlyIncomeSource[0];
      }
      const result = val.filter(v => v === 'others');
      this.otherOptionVisible1 = !!result.length;
      if (!val.length) {
        this.otherOptionVisible1 = false;
        this.monthlyIncomeSourceData = 'източници';
      }
    },
  },
  mounted() {
    if (this.onBoardingData.main_source_of_income) {
      this.monthlyIncomeSourceFunc(this.onBoardingData.main_source_of_income);
      this.isSelectedMonthlyIncomeSource = true;
    }
    if (this.onBoardingData.monthly_income) {
      this.monthlyIncomeData = this.onBoardingData.monthly_income;
      this.isSelectedMonthlyIncome = true;
    }
    if (this.onBoardingData.irregular_source_of_income) {
      this.irregularIncomeFunc(this.onBoardingData.irregular_source_of_income);
      this.isSelectedIrregularIncome = true;
    }
    if (this.otherIncomeSource) {
      this.otherIncomeSourceData = this.otherIncomeSource;
      this.isSelectedOtherIncomeSource = true;
      this.isTrueOtherIncomeSource = this.otherIncomeSource === 'Имам';
    }
    if (this.onBoardingData.irregular_yearly_income) {
      this.yearlyIrregularIncomeData = this.onBoardingData.irregular_yearly_income;
      this.isSelectedYearlyIrregularIncome = true;
    }
  },
  computed: {
    ...mapGetters([
      'irregularIncome',
      'monthlyIncome',
      'monthlyIncomeSource',
      'notRegularIncome',
      'onBoardingData',
      'otherIncomeSource',
      'yearlyIrregularIncome',
    ]),
  },
  watch: {
    irregularIncome(val) {
      this.onBoardingData.irregular_source_of_income = val;
      this.irregularIncomeFunc(val);
    },
    monthlyIncome(val) {
      this.onBoardingData.monthly_income = val;
      this.monthlyIncomeData = val;
      this.isSelectedMonthlyIncome = val.length > 0;
    },
    monthlyIncomeSource(val) {
      this.onBoardingData.main_source_of_income = val;
      this.monthlyIncomeSourceFunc(val);
    },
    otherIncomeSource(val) {
      this.otherIncomeSourceData = val;
      this.isSelectedOtherIncomeSource = val.length > 0;
      this.isTrueOtherIncomeSource = val === 'Имам';
    },
    yearlyIrregularIncome(val) {
      this.onBoardingData.irregular_yearly_income = val;
      this.yearlyIrregularIncomeData = val;
      this.isSelectedYearlyIrregularIncome = val.length > 0;
    },
  },
};
</script>

<style scoped>

</style>
