<template>
  <div>
    <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">

      <div class="d-md-flex align-items-center mb-6 mb-lg-12">
        <h2 class="onboarding-step-number text-hero mb-4 mb-md-0 mr-md-5">1</h2>
        <h2 class="text-mega flex-1">Регистрация или създаване на account в u2vest.com</h2>
      </div>

      <div class="d-md-flex align-items-center mb-6 mb-lg-12">
        <h2 class="onboarding-step-number text-hero mb-4 mb-md-0 mr-md-5">2</h2>
        <h2 class="text-mega flex-1">Сваляне на app
          <span id="u-tooltip" class="onboarding-tooltip" v-b-tooltip.click>Евротръст</span>
          и дистанционна е-идентификация през него - бързо, лесно и забавно.</h2>
      </div>
      <!-- Tooltip title specified via prop title -->
      <b-tooltip class="u-tooltip__content" target="u-tooltip" show triggers="click">
        <span style="padding-right: 20px;">Hаучeтe повечe</span>
        <span class="u-tooltip__play">
          <i class="fa fa-play-circle"></i> демо видео
        </span>
      </b-tooltip>

      <div class="d-md-flex align-items-center mb-6 mb-lg-12">
        <h2 class="onboarding-step-number text-hero mb-4 mb-md-0 mr-md-5">3</h2>
        <h2 class="text-mega flex-1">Получаване на договор с приложения и електронно подписване през Евротръст</h2>
      </div>

      <div class="d-md-flex align-items-center mb-6 mb-lg-12">
        <h2 class="onboarding-step-number text-hero mb-4 mb-md-0 mr-md-5">4</h2>
        <h2 class="text-mega flex-1">Превеждане по банков път на средства за покупка на дялове от
          SmartTech или плащане чрез карта на виртуалния ПОС терминал на u2vest.com</h2>
      </div>

      <div class="d-md-flex justify-content-end">
        <router-link
          class="btn btn-primary btn-lg d-block d-md-inline-block"
          to="/on-boarding-01"
        >
          {{ $t('message.on_boarding.next') }} <i class="fal fa-long-arrow-right"></i>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Onboarding00',
  components: {

  },
};
</script>

<style scoped lang="scss">
  .onboarding-tooltip {
    font-weight: 700;
    color: #4050fb;
    font-size: 1.1em;
    cursor: pointer;
  }

  .u-tooltip__play {
    background-color: #4050fb;
    padding: 5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

  .bs-tooltip-top {
    top: 12px !important;
  }
</style>
