<template>
  <div>
    <div class="container pt-7 pb-7 pt-lg-17 pb-lg-17">
      <p class="text-mega">
        В момента
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#savingsModal"
          :class="{'is-selected': isSelectedSavings,
           'is-invalid': !isSelectedSavings && isLoaded}"
          v-text="savingsData"
        ></span>
        спестявания
        <span
          id="u-tooltip1"
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#approximateSavingsModal"
          :class="{'is-selected': isSelectedApproximateSavings,
           'is-invalid': !isSelectedApproximateSavings && isTrueSavings}"
          v-b-tooltip.hover
          v-text="approximateSavingsData"
        ></span> и
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#ownPropertyModal"
          :class="{'is-selected': isSelectedOwnProperty,
           'is-invalid': !isSelectedOwnProperty && isLoaded}"
          v-text="ownPropertyData"
        ></span>
        имущество на стойност
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#marketValueOfPropertyModal"
          :class="{'is-selected': isSelectedMarketValueOfProperty,
           'is-invalid': !isSelectedMarketValueOfProperty && isTrueProperty}"
          v-text="marketValueOfPropertyData"
        ></span>.
        <br>
        Всичките ми активи към момента са на стойност
        <span
          id="u-tooltip2"
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#totalSumOfAssetsModal"
          v-b-tooltip.hover
          :class="{'is-selected': isSelectedTotalSumOfAssets,
           'is-invalid': !isSelectedTotalSumOfAssets && isLoaded}"
          v-text="totalSumOfAssetsData"
        ></span>.
      </p>

      <br><br>

      <p class="text-mega">
        Към момента
        <span
          class="form-control custom-form-control is-dropdown"
          data-toggle="modal"
          data-target="#liabilitiesModal"
          :class="{'is-selected': isSelectedLiabilities,
           'is-invalid': !isSelectedLiabilities && isLoaded}"
          v-text="liabilitiesData"
        ></span>
        задължения към финансови и нефинансови институции в размер на
        <span
          id="u-tooltip3"
          class="form-control custom-form-control is-dropdown"
          data-target="#sumOfLiabilitiesModal"
          data-toggle="modal"
          v-b-tooltip.hover
          :class="{'is-selected': isSelectedSumOfLiabilities,
           'is-invalid': !isSelectedSumOfLiabilities && isTrueLiabilities}"
          v-text="sumOfLiabilitiesData"
        ></span>.
      </p>

      <div class="d-md-flex justify-content-end mt-9">
        <b-button
          variant="btn-primary"
          class="btn-primary btn-lg d-block d-md-inline-block order-md-12 mb-3 mb-md-0"
          @click="submit"
        >
          {{ $t('message.on_boarding.next') }} <i class="fal fa-long-arrow-right"></i>
        </b-button>
        <router-link
          to="/on-boarding-02"
          class="btn btn-link btn-lg d-block d-md-inline-block order-md-1"
        >
          <i class="fal fa-long-arrow-left"></i> {{ $t('message.on_boarding.previous') }}
        </router-link>
      </div>
    </div>
    <b-tooltip target="u-tooltip1" placement="right" title="общо ликвидни финансови инструменти, депозити и авоари по сметки"/>
    <b-tooltip target="u-tooltip2" placement="right" title="общо финансови активи, недвижими имоти, дялови участия и други активи"/>
    <b-tooltip
      target="u-tooltip3"
      placement="right"
      title="общо кредити към финансови институции, лизингови договори, поръчителства, записи на заповед и други задължения."/>

    <ApproximateSavings></ApproximateSavings>
    <Liabilities></Liabilities>
    <MarketValueOfProperty></MarketValueOfProperty>
    <OwnProperty></OwnProperty>
    <Savings></Savings>
    <SumOfLiabilities></SumOfLiabilities>
    <TotalSumOfAssets></TotalSumOfAssets>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ApproximateSavings from '@/components/Modals/ApproximateSavings.vue';
import Liabilities from '@/components/Modals/Liabilities.vue';
import MarketValueOfProperty from '@/components/Modals/MarketValueOfProperty.vue';
import OwnProperty from '@/components/Modals/OwnProperty.vue';
import Savings from '@/components/Modals/Savings.vue';
import SumOfLiabilities from '@/components/Modals/SumOfLiabilities.vue';
import TotalSumOfAssets from '@/components/Modals/TotalSumOfAssets.vue';

export default {
  name: 'Onboarding03',
  data() {
    return {
      isLoaded: false,
      isSelectedApproximateSavings: false,
      isSelectedLiabilities: false,
      isSelectedMarketValueOfProperty: false,
      isSelectedOwnProperty: false,
      isSelectedSavings: false,
      isSelectedSumOfLiabilities: false,
      isSelectedTotalSumOfAssets: false,
      isTrueLiabilities: false,
      isTrueProperty: false,
      isTrueSavings: false,
      approximateSavingsData: 'сума',
      liabilitiesData: 'Имам',
      marketValueOfPropertyData: 'пазарна стойност',
      ownPropertyData: 'притежавам',
      savingsData: 'Имам',
      sumOfLiabilitiesData: 'сума',
      totalSumOfAssetsData: 'сума общо',
    };
  },
  components: {
    ApproximateSavings,
    Liabilities,
    MarketValueOfProperty,
    OwnProperty,
    Savings,
    SumOfLiabilities,
    TotalSumOfAssets,
  },
  methods: {
    submit() {
      this.isLoaded = true;
      if (this.isSelectedLiabilities
        && this.isSelectedOwnProperty
        && this.isSelectedSavings
        && this.isSelectedTotalSumOfAssets
        && (!this.isTrueSavings || this.isSelectedApproximateSavings)
        && (!this.isTrueProperty || this.isSelectedMarketValueOfProperty)
        && (!this.isTrueLiabilities || this.isSelectedSumOfLiabilities)
      ) {
        this.$router.push('/on-boarding-04');
      }
    },
    approximateSavingsFunc(val) {
      this.approximateSavingsData = val;
      this.isSelectedApproximateSavings = val.length > 0;
    },
    liabilitiesFunc(val) {
      this.liabilitiesData = val;
      this.isSelectedLiabilities = val.length > 0;
      this.isTrueLiabilities = val === 'Имам';
    },
    marketValueOfPropertyFunc(val) {
      this.marketValueOfPropertyData = val;
      this.isSelectedMarketValueOfProperty = val.length > 0;
    },
    ownPropertyFunc(val) {
      this.ownPropertyData = val;
      this.isSelectedOwnProperty = val.length > 0;
      this.isTrueProperty = val === 'Притежавам';
    },
    savingsFunc(val) {
      this.savingsData = val;
      this.isSelectedSavings = val.length > 0;
      this.isTrueSavings = val === 'Имам';
    },
    sumOfLiabilitiesFunc(val) {
      this.sumOfLiabilitiesData = val;
      this.isSelectedSumOfLiabilities = val.length > 0;
    },
    totalSumOfAssetsFunc(val) {
      this.totalSumOfAssetsData = val;
      this.isSelectedTotalSumOfAssets = val.length > 0;
    },
  },
  computed: {
    ...mapGetters([
      'approximateSavings',
      'liabilities',
      'marketValueOfProperty',
      'onBoardingData',
      'ownProperty',
      'savings',
      'sumOfLiabilities',
      'totalSumOfAssets',
    ]),
  },
  mounted() {
    if (this.onBoardingData.savings_amount) {
      this.approximateSavingsFunc(this.onBoardingData.savings_amount);
    }
    if (this.liabilities) {
      this.liabilitiesFunc(this.liabilities);
    }
    if (this.onBoardingData.market_property_amount) {
      this.marketValueOfPropertyFunc(this.onBoardingData.market_property_amount);
    }
    if (this.ownProperty) {
      this.ownPropertyFunc(this.ownProperty);
    }
    if (this.savings) {
      this.savingsFunc(this.savings);
    }
    if (this.onBoardingData.liabilities_amount) {
      this.sumOfLiabilitiesFunc(this.onBoardingData.liabilities_amount);
    }
    if (this.onBoardingData.assets_amount) {
      this.totalSumOfAssetsFunc(this.onBoardingData.assets_amount);
    }
  },
  watch: {
    approximateSavings(val) {
      this.onBoardingData.savings_amount = val;
      this.approximateSavingsFunc(val);
    },
    liabilities(val) {
      this.liabilitiesFunc(val);
    },
    marketValueOfProperty(val) {
      this.onBoardingData.market_property_amount = val;
      this.marketValueOfPropertyFunc(val);
    },
    ownProperty(val) {
      this.ownPropertyFunc(val);
    },
    savings(val) {
      this.savingsFunc(val);
    },
    sumOfLiabilities(val) {
      this.onBoardingData.liabilities_amount = val;
      this.sumOfLiabilitiesFunc(val);
    },
    totalSumOfAssets(val) {
      this.onBoardingData.assets_amount = val;
      this.totalSumOfAssetsFunc(val);
    },
  },
};
</script>

<style scoped>

</style>
