<template>
  <div>
    <div class="content not-logged">
      <div class="section pt-5 pb-5 pt-md-10 pb-md-10">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>404</h1>
              <h3>PAGE NOT FOUND</h3>
            </div>
          </div>
          <div class="pt-10">
            <router-link
              to="/"
            >Go to Home</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'err404',
};
</script>

<style scoped>

</style>
