<template>
  <div class="container pt-8 pb-8">
    <div class="d-md-flex justify-content-between mb-7 mb-md-15">
      <div class="d-md-flex mb-5 mb-md-0">
        <div class="form-group mb-5 mb-md-0 mr-md-5">
          <label for="">От дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            v-model="selectedDate.from"
          >
          </Datepicker>
        </div>

        <div class="form-group">
          <label for="">До дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            v-model="selectedDate.to"
          >
          </Datepicker>
        </div>
      </div>

      <div>
        <div class="form-group with-search-icon">
          <label for="">Търси</label>
          <input type="text" class="form-control" name="filter" autocomplete="off" placeholder="Търси новини...">
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="text-title">Транзакции</h2>
      </div>
      <div class="card-body with-table">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Дата</th>
                <th scope="col">Вид</th>
                <th scope="col" class="text-right">Сума</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(h, i) in histories" :key="i">
                <td class="no-wrap">{{ h.order_date }}</td>
                <td>
                  <span v-if="h.order_type==='procurement'">Закупуване на дялове от {{ h.name_bg }}</span>
                  <span v-if="h.order_type==='redemption'">redemption {{ h.name_bg }}</span>
                </td>
                <td class="text-right cell-numeric" v-if="h.total_value">{{ h.total_value }} лв</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';
import Datepicker from 'vuejs-datepicker';
import { en, bg } from 'vuejs-datepicker/dist/locale';
import moment from 'moment';

export default {
  name: 'Activity',
  components: { Datepicker },
  data() {
    return {
      en,
      bg,
      selectedDate: {
        from: moment(Date.now()).format(),
        to: moment(Date.now()).format(),
      },
      histories: [],
    };
  },
  computed: {
    ...mapState({
      funds: state => state.settings.funds,
    }),
  },
  methods: {
    getHistories() {
      axios
        .get('/api/v1/history/')
        .then((res) => {
          this.histories = res.data;
          this.histories.forEach((h) => {
            h.order_date = moment(h.order_date)
              .format('DD MMMM YYYY');
            this.funds.forEach((f) => {
              if (f.id === h.fund_id) {
                h.name_bg = f.name_bg;
                h.name_en = f.name_en;
              }
            });
          });
        })
        .catch(err => console.error(err));
    },
  },
  mounted() {
    moment.locale('bg');
    // this.$store.dispatch('funds');
    this.getHistories();
  },
  watch: {
    selectedDate() {
      return true;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
