<template>
  <div class="container pt-8 pb-8 pt-lg-10">

    <router-link
      class="btn btn-link btn-lg mb-5 mb-md-9"
      :to="`/${selectedLocale.locale}/news`"
    ><i class="fal fa-long-arrow-left"></i> Назад</router-link>

    <div class="container-news p-5 p-lg-15">
      <h1 class="text-hero mb-3">Знаете ли как спестяванията носят висок доход?</h1>

      <div class="d-flex mb-7">
        <div class="d-flex mr-4">
          <i class="far fa-calendar-alt text-light mr-2"></i>
          <p class="small text-light">08 ноември 2018</p>
        </div>

        <div class="d-flex">
          <i class="far fa-clock text-light mr-2"></i>
          <p class="small text-light">3 минути четене</p>
        </div>
      </div>

      <img class="img-fluid" src="@/assets/img/sample/shaking-hands.jpg" alt="">

      <div class="container-news-inner mt-7">
        <p>
          Ниските лихви по депозитите са вече факт и отговарят на равнището на лихвите в еврозоната. Банките разполагат с голям ресурс, който насочват
          към кредитиране, поради което лихвите ще останат на тези нива. Инфлацията набира скорост, като през 2017 г. тя вече е на най-високите си
          нива от 4 години насам - 2% годишно.
          <br><br>
          Реалистична доходност, която да е покрила инфлацията и да остави възможност спестяванията да се увеличат в дългосрочен план, за да се
          ползват за реализация на дългосрочни цели, вече е възможна само от инвестиция в активи на финансовите пазари от нисък до висок риск.
        </p>

        <blockquote class="blockquote">
          <p>“Отделете само 60 минути, за да разберете всичко, което Ви е необходимо да знаете, за да управлявате активно своите спестявания с
            по-висок резултат и да осигурите бъдещето си!”</p>
        </blockquote>

        <p>Ниските лихви по депозитите са вече факт и отговарят на равнището на лихвите в еврозоната. Банките разполагат с голям ресурс, който
          насочват към кредитиране, поради което лихвите ще останат на тези нива. Инфлацията набира скорост, като през 2017 г. тя вече е на
          най-високите си нива от 4 години насам - 2% годишно. </p>

        <h3>Знаете ли как спестяванията носят висок доход?</h3>

        <p>Реалистична доходност, която да е покрила инфлацията и да остави възможност спестяванията да се увеличат в дългосрочен план, за да се
          ползват за реализация на дългосрочни цели, вече е възможна само от инвестиция в активи на финансовите пазари от нисък до висок риск:</p>

        <ul>
          <li>Ниските лихви по депозитите са вече факт и отговарят на равнището на лихвите в еврозоната. Банките разполагат с голям ресурс, който
            насочват към кредитиране, поради което лихвите ще останат на тези нива. Инфлацията набира скорост, като през 2017 г. тя вече е на
            най-високите си нива от 4 години насам - 2% годишно.
          </li>

          <li>Реалистична доходност, която да е покрила инфлацията и да остави възможност спестяванията да се увеличат в дългосрочен план, за да се
            ползват за реализация на дългосрочни цели.
          </li>
        </ul>

        <p>Ниските лихви по депозитите са вече факт и отговарят на равнището на лихвите в еврозоната. Банките разполагат с голям ресурс, който
          насочват към кредитиране, поради което лихвите ще останат на тези нива. Инфлацията набира скорост, като през 2017 г. тя вече е на
          най-високите си нива от 4 години насам - 2% годишно.</p>
      </div>
    </div>

  </div>

</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'NewsSingle',
  computed: {
    ...mapState({
      selectedLocale: state => state.selectedLocale,
    }),
  },
};
</script>

<style scoped>

</style>
