<template>
  <div class="container pt-8 pb-8">

    <div class="d-md-flex justify-content-between mb-7 mb-md-15">
      <div class="d-md-flex mb-5 mb-md-0">
        <div class="form-group mb-5 mb-md-0 mr-md-5">
          <label for="">От дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            :value="selectDate.from"
          >
          </Datepicker>
        </div>

        <div class="form-group">
          <label for="">До дата</label>
          <Datepicker
            class="form-control with-calendar-icon"
            :language="bg"
            :value="selectDate.to"
          >
          </Datepicker>
        </div>
      </div>

      <div>
        <div class="form-group with-search-icon">
          <label for="">Търси</label>
          <input type="text" class="form-control" placeholder="Търси новини...">
        </div>
      </div>
    </div>

    <template v-for="index in 5">
      <div :key="index" class="row no-gutters container-news mt-5">
        <div class="d-none d-md-block col-md-2 mb-4 mb-md-0 pr-md-4">
          <router-link :to="`/${selectedLocale.locale}/news-single`">
            <img class="img-fluid" src="@/assets/img/sample/bloomberg-news.png" alt="">
          </router-link>
        </div>

        <div class="col-md-10 p-4 pl-md-0">
          <h2 class="text-mega mb-5 mb-md-3">
            <router-link
              :to="`/${selectedLocale.locale}/news-single`"
              class="link-dark"
            >Знаете ли как спестяванията носят висок доход?</router-link></h2>
          <div class="d-flex">
            <div class="d-flex mr-4">
              <i class="far fa-calendar-alt text-light mr-2"></i>
              <p class="small text-light">08 ноември 2018</p>
            </div>

            <div class="d-flex">
              <i class="far fa-clock text-light mr-2"></i>
              <p class="small text-light">3 минути четене</p>
            </div>
          </div>
        </div>
      </div>
    </template>

    <nav class="mt-7">
      <ul class="pagination">
        <li class="page-item disabled">
          <router-link class="page-link is-arrow" :to="`/${selectedLocale.locale}/news`" aria-label="Previous">
            <span aria-hidden="true"><i class="far fa-angle-left"></i></span>
            <span class="sr-only">Previous</span>
          </router-link>
        </li>
        <li class="page-item active"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">1</router-link></li>
        <li class="page-item"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">2</router-link></li>
        <li class="page-item"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">3</router-link></li>
        <li class="page-item disabled"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">...</router-link></li>
        <li class="page-item"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">7</router-link></li>
        <li class="page-item"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">8</router-link></li>
        <li class="page-item"><router-link class="page-link" :to="`/${selectedLocale.locale}/news`">9</router-link></li>
        <li class="page-item">
          <router-link class="page-link is-arrow" :to="`/${selectedLocale.locale}/news`" aria-label="Next">
            <span aria-hidden="true"><i class="far fa-angle-right"></i></span>
            <span class="sr-only">Next</span>
          </router-link>
        </li>
      </ul>
    </nav>

  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { en, bg } from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import { mapState } from 'vuex';

export default {
  name: 'News',
  components: { Datepicker },
  data() {
    return {
      en,
      bg,
      selectDate: {
        from: moment(Date.now()).format(),
        to: moment(Date.now()).format(),
      },
    };
  },
  computed: {
    // ...mapGetters(['selectedLocale', 'languages']),
    ...mapState({
      selectedLocale: state => state.selectedLocale,
    }),
  },
};
</script>

<style scoped>

</style>
