<template>
  <div class="footer">
    <div class="container">
      <p class="small text-light">Copyright &copy; 2019. u2vest.com. Powered by Alfa Asset Management EAD - licensed asset management company by
        Commission for Financial Supervision of Bulgaria.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style scoped>

</style>
