<template>
  <div class="header is-logged">
    <!-- Icon menu -->
    <div
      class="header-icon d-lg-none js-menu-toggle"
      @click="toggleMenu"
    >
      <i class="far fa-bars"></i>
      <i class="far fa-times"></i>
    </div>
    <!-- Icon menu -->

    <!-- Left part -->
    <div class="d-flex align-items-center">
      <router-link to="/" class="logo mr-lg-5">
        <img class="img-fluid" src="@/assets/img/logo.svg" alt="">
      </router-link>

      <ul class="menu d-none d-lg-flex">
        <li
          class="menu-item"
          v-for="item in headNav"
          :key="item.name"
          :class="{ active: $route.name === item.name }"
        >
          <router-link :to="`/${selectedLocale}/${item.name}`" class="menu-link">
            <img class="menu-icon" :src="item.img" alt="">
            {{ item.label }}
          </router-link>
        </li>
      </ul>
    </div>
    <!-- Left part -->

    <!-- Right part -->
    <div class="d-none d-lg-flex align-items-center">
      <b-button v-b-modal.buySharesModal
        class="btn btn-primary mr-7"
        variant="primary"
      >Купи дялове</b-button>

      <b-dropdown variant="link" size="md">
        <template slot="button-content">
          <!-- todo: profile picture -->
          <img
            :src="profile.profile_picture"
            alt=""
            class="mr-3 dropdown-menu-avatar"
            height="40"
            width="40">
          <span class="text-light" style="font-size: 18px;">{{ profile.first_name }} {{ profile.last_name }}</span>
        </template>
        <b-dropdown-item>
          <router-link
            class="dropdown-item"
            :to="`/${selectedLocale}/profile`"
          ><i class="far fa-user dropdown-icon"></i> Моят профил</router-link>
        </b-dropdown-item>
        <b-dropdown-item v-b-modal.changePasswordModal>
          <div class="dropdown-item"><i class="far fa-lock dropdown-icon"></i> Промяна на парола</div>
        </b-dropdown-item>
        <b-dropdown-item>
          <div
            class="dropdown-item"
            data-target="#sellSharesModal"
            data-toggle="modal"
          ><i class="far fa-wallet dropdown-icon"></i> Продай дялове</div>
        </b-dropdown-item>
        <b-dropdown-item>
          <div
            class="dropdown-item"
            data-target="#changeSettingsModal"
            data-toggle="modal"
          ><i class="far fa-cog dropdown-icon"></i> Настройки</div>
        </b-dropdown-item>
        <b-dropdown-item>
          <div
            @click="logoutUser"
            class="dropdown-item link-danger"
          ><i class="far fa-sign-out dropdown-icon"></i> Изход</div>
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <!-- Right part -->

    <!-- Icon user -->
    <div
      class="user-icon is-user d-lg-none js-menu-toggle"
      @click="toggleUser"
    >
      <i class="far fa-user"></i>
      <i class="far fa-times"></i>
    </div>
    <!-- Icon user -->

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import images from '@/store/images';

export default {
  name: 'HeaderLogged',
  data() {
    return {
      pageName: this.$route.name,
      selected: '',
      selectedLocale: 'bg', // fixme
    };
  },
  methods: {
    logoutUser() {
      this.$store.dispatch('logoutUser', this.$router);
    },
    toggleMenu() {
      document.documentElement.classList.remove('in-user-mode');
      document.documentElement.classList.toggle('in-menu-mode');
    },
    toggleUser() {
      document.documentElement.classList.remove('in-menu-mode');
      document.documentElement.classList.toggle('in-user-mode');
    },
  },
  mounted() {
    const menuOverlay = document.querySelector('.js-overlay');

    const closeMenu = () => {
      document.documentElement.classList.remove('in-menu-mode');
      document.documentElement.classList.remove('in-user-mode');
    };

    menuOverlay.addEventListener('click', closeMenu);
  },
  computed: {
    ...mapGetters(['profile']),
    headNav() {
      const items = [
        {
          name: 'funds',
          label: 'Фондове',
          img: images.iconFunds,
        },
        {
          name: 'activity',
          label: 'Моята активност',
          img: images.iconActivity,
        },
        {
          name: 'notifications',
          label: 'Известия',
          img: images.iconNotification,
        },
        {
          name: 'news',
          label: 'Новини',
          img: images.iconNews,
        },
      ];
      if (process.env.NODE_ENV === 'development') {
        items.push({
          name: 'design',
          label: 'Design',
        });
      }
      return items;
    },
  },
};
</script>

<style scoped>

</style>
