<template>
  <div class="header">
    <div class="container">
      <div class="d-flex align-items-center mt-5 mb-5">
        <router-link to="/" class="logo mr-5">
          <img class="img-fluid" src="@/assets/img/logo.svg" alt="">
        </router-link>
      </div>

      <div
        v-if="progress >= 0"
        class="progress mb-6"
      >
        <div
          aria-valuemax="100"
          class="progress-bar"
          role="progressbar"
          :aria-valuemin="progress"
          :aria-valuenow="progress"
          :style="{'width': progress + '%'}"
        ></div>
      </div>
      <h2 class="text-mega mb-5">
        <strong v-if="pageName === 'on_boarding_00'">{{ $t('message.layout.on_board_step00') }}</strong>
        <strong v-if="pageName === 'on_boarding_01'">{{ $t('message.layout.on_board_step01') }}</strong>
        <strong v-if="pageName === 'on_boarding_02'">{{ $t('message.layout.on_board_step02') }}</strong>
        <strong v-if="pageName === 'on_boarding_03'">{{ $t('message.layout.on_board_step03') }}</strong>
        <strong v-if="pageName === 'on_boarding_04'">{{ $t('message.layout.on_board_step04') }}</strong>
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderNotLogged',
  data() {
    return {
      pageName: this.$route.name,
      progress: this.$route.meta.progress,
    };
  },
  methods: {
    inputAutoWidth() {
      const convInputs = document.querySelectorAll('.js-conv-input');
      const convOption = {
        maxWidth: 520,
        minWidth: 24,
        charWidth: 27,
      };

      const handleInputChange = (e) => {
        const el = e.target;
        const dataWidth = el.dataset.width;
        const elLength = el.value.length * convOption.charWidth + convOption.minWidth;
        const placeholderLength = el.placeholder.length * convOption.charWidth + convOption.minWidth;

        if (elLength > convOption.minWidth && elLength > dataWidth) {
          el.style.width = elLength < convOption.maxWidth ? `${elLength}px` : `${convOption.maxWidth}px`;
        } else if (dataWidth) {
          el.style.width = `${dataWidth}px`;
        } else {
          el.style.width = `${placeholderLength}px`;
        }
      };

      convInputs.forEach((el) => {
        const elLength = el.placeholder.length * convOption.charWidth + convOption.minWidth;
        const dataWidth = el.dataset.width;
        const elt = el;

        if (dataWidth) {
          elt.style.width = `${dataWidth}px`;
        } else {
          elt.style.width = `${elLength}px`;
        }

        elt.addEventListener('keyup', handleInputChange);
        elt.style.display = 'inline-block';
      });
    },
  },
  mounted() {
    this.inputAutoWidth();
  },
  watch: {
    $route(to) {
      this.pageName = to.name;
      this.progress = to.meta.progress;
      this.inputAutoWidth();
    },
  },
};
</script>

<style scoped>
  .header {
    display: inline-block !important;
    top: 0;
    height: auto;
  }
</style>
