<template>
  <div>
    <div class="overlay js-overlay"></div>

    <div class="wrapper">
      <HeaderLogged></HeaderLogged>

      <MenuDeviceMain></MenuDeviceMain>

      <MenuDeviceUser></MenuDeviceUser>

      <div class="content">
        <router-view></router-view>
      </div>

      <Footer></Footer>
    </div>
    <!-- Modals -->
    <BuyShares></BuyShares>
    <ChangePassword></ChangePassword>
    <ChangeSettings></ChangeSettings>
    <SellShares></SellShares>
    <!-- /Modals -->
  </div>
</template>

<script>
import HeaderLogged from '@/layouts/HeaderLogged.vue';
import MenuDeviceMain from '@/layouts/MenuDeviceMain.vue';
import MenuDeviceUser from '@/layouts/MenuDeviceUser.vue';
import Footer from '@/layouts/Footer.vue';
import ChangePassword from '@/components/Modals/ChangePassword.vue';
import BuyShares from '@/components/Modals/BuyShares.vue';
import SellShares from '@/components/Modals/SellShares.vue';
import ChangeSettings from '@/components/Modals/ChangeSettings.vue';
// import Modals from '@/components/Modals/All.vue';

export default {
  name: 'LayoutDashboard',
  components: {
    BuyShares,
    ChangePassword,
    ChangeSettings,
    Footer,
    HeaderLogged,
    // Modals,
    MenuDeviceMain,
    MenuDeviceUser,
    SellShares,
  },
};
</script>

<style scoped>

</style>
