<template>
  <div>
    <div class="overlay"></div>

    <div class="wrapper">
      <HeaderNotLogged></HeaderNotLogged>

      <div class="content not-logged">
        <router-view></router-view>
      </div>

    </div>
  </div>
</template>

<script>
import HeaderNotLogged from '@/layouts/HeaderNotLogged.vue';

export default {
  name: 'LayoutNotLogged',
  components: {
    HeaderNotLogged,
  },
};
</script>

<style scoped>

</style>
