<template>
  <div class="menu-device is-user">
    <div>
      <div class="menu-header">
        <img class="mr-3" width="40" height="40" src="@/assets/img/sample/avatar-small.png" alt="">
        <span class="text-light">{{ profile.first_name }} {{ profile.last_name }}</span>
      </div>
      <ul class="menu">
        <li class="menu-item">
          <router-link
            class="menu-link"
            :to="`/${selectedLocale}/profile`"
          ><i class="far fa-user user-menu-icon"></i> Моят профил</router-link>
        </li>
        <li class="menu-item" v-b-modal.changePasswordModal>
          <div class="menu-link"><i class="far fa-lock user-menu-icon"></i> Промяна на парола</div>
        </li>
        <li class="menu-item">
          <div
            class="menu-link"
            data-target="#sellSharesModal"
            data-toggle="modal"
          ><i class="far fa-wallet user-menu-icon"></i> Продай дялове</div>
        </li>
        <li class="menu-item">
          <div
            class="menu-link"
            data-target="#changeSettingsModal"
            data-toggle="modal"
          ><i class="far fa-cog user-menu-icon"></i> Настройки</div>
        </li>
      </ul>
    </div>
    <div class="menu-footer">
      <a class="link-danger" href="#"><i class="far fa-sign-out mr-2"></i> Изход</a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'MenuDeviceUser',
  data() {
    return {
      selectedLocale: 'bg', // fixme
    };
  },
  computed: {
    // ...mapGetters(['selectedLocale', 'languages']),
    ...mapState({
      profile: state => state.profile.profile,
    }),
  },
};
</script>

<style scoped>

</style>
