<template>
  <div class="menu-device is-main">
    <ul class="menu">
      <li
        class="menu-item"
        :class="{ active: $route.name === 'funds' }"
      >
        <router-link :to="`/${selectedLocale}/funds`" class="menu-link">
          <img class="menu-icon" src="@/assets/img/menu/icon-funds.svg" alt="">
          Фондове
        </router-link>
      </li>
      <li
        class="menu-item"
        :class="{ active: $route.name === 'activity' }"
      >
        <router-link :to="`/${selectedLocale}/activity`" class="menu-link">
          <img class="menu-icon" src="@/assets/img/menu/icon-activity.svg" alt="">
          Моята активност
        </router-link>
      </li>

      <li
        class="menu-item"
        :class="{ active: $route.name === 'notifications' }"
      >
        <router-link :to="`/${selectedLocale}/notifications`" class="menu-link">
          <img class="menu-icon" src="@/assets/img/menu/icon-notification.svg" alt="">
          Известия
        </router-link>
      </li>

      <li
        class="menu-item"
        :class="{ active: $route.name === 'news' }"
      >
        <router-link :to="`/${selectedLocale}/news`" class="menu-link">
          <img class="menu-icon" src="@/assets/img/menu/icon-news.svg" alt="">
          Новини
        </router-link>
      </li>
    </ul>

    <div class="menu-footer">
      <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#buySharesModal">
        Купи дялове
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuDeviceMain',
  data() {
    return {
      selectedLocale: 'bg', // fixme
    };
  },
};
</script>

<style scoped>

</style>
