<template>
  <div>
    <LoginModal></LoginModal>
  </div>
</template>

<script>
import LoginModal from '@/components/Modals/Login.vue';

export default {
  name: 'Login',
  components: {
    LoginModal,
  },
};
</script>

<style scoped>

</style>
