<template>
  <div class="container pt-8 pb-8 pt-lg-12">
    <div class="row">
      <div class="col-xl-3 mb-7 mb-xl-0">
        <a
          href="#"
          class="profile-image"
          :class="{'d-none': updatedProfile.profile_picture}"
          id="uploadProfileImage"
          data-toggle="modal"
          data-target="#uploadPhotoModal"
        >
        <span class="text-center">
          <i class="d-block fas fa-camera mb-4 profile-image-icon"></i>
          <span class="d-block text-steel"><strong>Добави снимка</strong></span>
        </span>
        </a>

        <a
          href="#"
          class="profile-image has-image"
          :class="{'d-none': !updatedProfile.profile_picture}"
          id="updateProfileImage"
          @click="onUploadPhoto"
        >
          <span class="text-center profile-image-action">
            <span class="d-block">
              <i class="d-block fas fa-camera mb-4 profile-image-icon"></i>
              <span class="d-block text-steel"><strong>Промени снимка</strong></span>
            </span>
          </span>
          <img class="img-fluid" :src="updatedProfile.profile_picture" alt="">
        </a>
      </div>
      <div class="col-xl-9">
        <h2 class="text-mega mb-6">{{fullName}}</h2>

        <div class="row mb-5">
          <div class="col-md-6 mb-5 mb-md-0">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Телефон</p>
              <p class="text-title">{{profile.phone}}</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Email</p>
              <p class="text-title">{{profile.email}}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="container-border-top pt-3">
              <p class="text-light mb-3">Адрес за кореспондеция</p>
              <p class="text-title">{{profile.address}}</p>
            </div>
          </div>
        </div>

        <div class="card mt-6 mt-md-11">
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="bank-tab"
                data-toggle="tab"
                href="#bank"
                role="tab"
                aria-controls="bank"
                aria-selected="true"
              >Банкова сметка</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="income-tab"
                data-toggle="tab"
                href="#income"
                role="tab"
                aria-controls="income"
                aria-selected="false"
              >Доходи и задължения</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="personal-tab"
                data-toggle="tab"
                href="#personal"
                role="tab"
                aria-controls="personal"
                aria-selected="false"
              >Лични данни</a>
            </li>
          </ul>

          <div class="tab-content card-body" id="myTabContent">
            <div class="tab-pane fade show active" id="bank" role="tabpanel" aria-labelledby="bank-tab">
              <h3 class="text-display mb-4">Банкова сметка</h3>

              <p class="mb-5">При настъпване на промяна в банковата ви сметка, моля да я актуализирате от тук. Всяка
                промяна се потвърждава
                допълнително чрез телефонно обаждане.</p>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="mt-3">Титуляр</label>
                  <input
                    :class="errors.first('fullName') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="fullName"
                    placeholder="Три Имена"
                    type="text"
                    v-model="fullName"
                    v-validate="'required|full_name'"
                  >
                </div>

                <div class="col-md-6 form-group">
                  <label class="mt-3">IBAN</label>
                  <input
                    type="text"
                    name="iban"
                    class="form-control"
                    v-model="updatedProfile.iban"
                    :class="!isValidIBAN ? 'is-invalid': 'is-valid'"
                    v-validate="'required'"
                  >
                </div>
              </div>

              <div class="form-group mt-7">
                <button
                  class="btn btn-primary d-block d-md-inline-block"
                  @click="submit"
                >Промени
                </button>
              </div>
            </div>

            <div class="tab-pane fade" id="income" role="tabpanel" aria-labelledby="income-tab">
              <h3 class="text-display mb-4">Доходи и задължения</h3>

              <p class="mb-6">При настъпване на промяна във Вашите доходи и задължения, можете да ги актуализирате от
                тук. Това ще помогне на нашите
                специалисти да изготвят най-подходящия инвестиционен план.</p>

              <div v-if="!this.editIncome">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Вид</th>
                    <th class="text-right">Сума</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Регулярни месечни доходи</td>
                    <td class="text-right text-success">{{onGetIncomeData(monthlyIncome,
                      updatedProfile.monthly_income)}}.
                    </td>
                  </tr>
                  <tr>
                    <td>Нерегулярни месечни доходи</td>
                    <td class="text-right text-success">{{onGetIncomeData(irregularYearlyIncome,
                      updatedProfile.irregular_yearly_income)}}.
                    </td>
                  </tr>
                  <tr>
                    <td>Спестявания</td>
                    <td class="text-right text-success">{{onGetIncomeData(savingsAmount,
                      updatedProfile.savings_amount)}}.
                    </td>
                  </tr>
                  <tr>
                    <td>Пазарна стойност на притежавано имущество</td>
                    <td class="text-right text-success">{{onGetIncomeData(propertyAmount,
                      updatedProfile.property_amount)}}.
                    </td>
                  </tr>
                  <tr>
                    <td>Задължения</td>
                    <td class="text-right text-danger">{{onGetIncomeData(assetsAmount, updatedProfile.assets_amount)}}
                      лв.
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div v-if="this.editIncome">
                <h3 class="text-title mb-4">Регулярни месечни доходи</h3>

                <div class="row mb-7">
                  <div class="col-md-7 form-group mb-5">
                    <label class="mt-3">Източник</label>
                    <b-form-group>
                      <b-form-checkbox-group
                        class="custom-control custom-checkbox"
                        id="monthlyIncomeSource"
                        name="monthlyIncomeSource"
                        :options="mainSourceOfIncome"
                        v-model="updatedProfile.main_source_of_income"
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </div>

                  <div class="col-md-5 form-group">
                    <label class="mt-3">Сума</label>
                    <div class="custom-select-wrapper">
                      <b-form-group>
                        <b-form-select
                          id="monthlyIncome"
                          name="monthlyIncome"
                          :options="monthlyIncome"
                          v-model="updatedProfile.monthly_income"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div>
                </div>

                <h3 class="text-title mb-4">Нерегулярни годишни доходи</h3>

                <div class="row mb-6">
                  <div class="col-md-7 form-group mb-5">
                    <label class="mt-3">Източник</label>
                    <b-form-group>
                      <b-form-checkbox-group
                        class="custom-control custom-checkbox"
                        id="irregularSourceOfIncome"
                        name="irregularSourceOfIncome"
                        :options="irregularSourceOfIncome"
                        v-model="updatedProfile.irregular_source_of_income"
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </div>

                  <div class="col-md-5 form-group mb-5">
                    <label class="mt-3">Сума</label>
                    <div class="custom-select-wrapper">
                      <b-form-group>
                        <b-form-select
                          id="yearlyIrregularIncome"
                          name="yearlyIrregularIncome"
                          :options="irregularYearlyIncome"
                          v-model="updatedProfile.irregular_yearly_income"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div>
                </div>

                <h3 class="text-title mb-4">Други</h3>

                <div class="row mb-6">
                  <div class="col-md-7 form-group mb-5 mb-5">
                    <label class="mt-3">Спестявания</label>
                    <b-form-group>
                      <b-form-radio-group
                        :options="savings"
                        id="savings"
                        name="savings"
                        stacked
                        v-model="selectedSavings"></b-form-radio-group>
                    </b-form-group>
                  </div>

                  <div class="col-md-5 form-group mb-5">
                    <label class="mt-3">Сума</label>
                    <div class="custom-select-wrapper">
                      <b-form-group>
                        <b-form-select
                          id="savingsAmount"
                          name="savingsAmount"
                          :options="savingsAmount"
                          :disabled="selectedSavings==='Нямам'"
                          v-model="updatedProfile.savings_amount"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div>

                  <div class="col-md-7 form-group mb-5">
                    <label class="mt-3">Имущество</label>
                    <b-form-group>
                      <b-form-radio-group
                        :options="property"
                        id="property"
                        name="property"
                        stacked
                        v-model="selectedProperty"></b-form-radio-group>
                    </b-form-group>
                  </div>

                  <div class="col-md-5 form-group mb-5">
                    <label class="mt-3">Пазарна стойност</label>
                    <div class="custom-select-wrapper">
                      <b-form-group>
                        <b-form-select
                          id="propertyAmount"
                          name="propertyAmount"
                          :options="propertyAmount"
                          :disabled="selectedProperty==='Не притежавам'"
                          v-model="updatedProfile.property_amount"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div>
                </div>

                <h3 class="text-title mb-4">Общо задължения и активи</h3>

                <div class="row">
                  <div class="col-md-7 form-group mb-5">
                    <label class="mt-3">Задължения към финансови и нефинансови институции</label>
                    <b-form-group>
                      <b-form-radio-group
                        :options="liabilities"
                        id="liabilities"
                        name="liabilities"
                        stacked
                        v-model="selectedLiabilities"></b-form-radio-group>
                    </b-form-group>
                  </div>

                  <div class="col-md-5 form-group">
                    <label class="mt-3">Стойност на всички притежавани активи</label>
                    <div class="custom-select-wrapper">
                      <b-form-group>
                        <b-form-select
                          id="assetsAmount"
                          name="assetsAmount"
                          :options="assetsAmount"
                          :disabled="selectedLiabilities==='Нямам'"
                          v-model="updatedProfile.assets_amount"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-7">
                <button
                  class="btn btn-primary d-block d-md-inline-block js-toggle-container"
                  @click="onEditIncome"
                >Промени
                </button>
              </div>
            </div>

            <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
              <h3 class="text-display mb-4">Лични данни</h3>

              <p class="mb-5">При настъпване на промяна в личните Ви данни, е нужно да се свържете с наш служител.</p>

              <div class="row mb-5">
                <div class="col-12 form-group">
                  <label class="mt-3">Име</label>
                  <input
                    :class="errors.first('name') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="name"
                    placeholder="Три Имена"
                    type="text"
                    v-model="fullName"
                    v-validate="'required|full_name'"
                  >
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-6 form-group mb-5 mb-md-0">
                  <label class="mt-3">Дата на раждане</label>
                  <Datepicker
                    class="form-control"
                    :language="bg"
                    v-model="updatedProfile.birth_day"
                  >
                  </Datepicker>
                </div>

                <div class="col-md-6 form-group">
                  <label class="mt-3">Гражданство</label>
                  <div class="d-flex align-items-center">
                    <div class="flex-1 mr-3">
                      <input
                        :class="errors.first('citizenships') ? 'is-invalid' : 'is-valid'"
                        class="form-control"
                        name="citizenships"
                        type="text"
                        v-model="updatedProfile.citizenships"
                        v-validate="{required: true, max: 250, regex: /[\\w\W, ]*/}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-4 col-sm-6 form-group">
                  <label class="mt-3">Постоянен Адрес</label>
                  <input
                    :class="errors.first('city') ? 'is-invalid': 'is-valid'"
                    name="city"
                    type="text"
                    class="form-control"
                    v-validate="{required: true, max: 64}"
                    v-model="updatedProfile.city">
                </div>
                <div class="col-md-8 col-sm-6 form-group">
                  <label class="mt-3"></label>
                  <input
                    :class="errors.first('address') ? 'is-invalid': 'is-valid'"
                    name="address"
                    type="text"
                    class="form-control mt-3"
                    v-validate="{required: true, max: 255}"
                    v-model="updatedProfile.address">
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-4 col-sm-6 form-group">
                  <label class="mt-3">Адрес за кореспонденция</label>
                  <input
                    :class="errors.first('mailing_city') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="mailing_city"
                    type="text"
                    v-model="updatedProfile.mailing_city"
                    v-validate="{required: true, max: 64}">
                </div>
                <div class="col-md-8 col-sm-6 form-group">
                  <label class="mt-3"></label>
                  <input
                    :class="errors.first('mailing_address') ? 'is-invalid': 'is-valid'"
                    name="mailing_address"
                    type="text"
                    class="form-control mt-3"
                    v-validate="{required: true, max: 255}"
                    v-model="updatedProfile.mailing_address">
                </div>
              </div>

              <div class="row mb-7">
                <div class="col-md-6 form-group mb-5 mb-md-0">
                  <label class="mt-3">Телефон</label>
                  <input
                    :class="errors.first('phone') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="phone"
                    placeholder="мобилен номер"
                    v-model="updatedProfile.phone"
                    v-validate="{ required: true, regex: /^[+0-9 ]*$/ }"
                  >
                </div>

                <div class="col-md-6 form-group">
                  <label class="mt-3">Email</label>
                  <input
                    :class="errors.first('email') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="email"
                    type="text"
                    v-model="updatedProfile.email"
                    v-validate="'required|email|max:254'"
                  >
                </div>
              </div>

              <h3 class="text-display mb-4">Образование и заетост</h3>

              <p class="mb-5">При настъпване на промяна в образователната Ви степен или трудовата заетост, можете да ги
                промените от тук.</p>

              <div class="row mb-5">
                <div class="col-12 form-group">
                  <label class="mt-3">Образователна степен</label>
                  <b-form-group>
                    <b-form-select
                      id="education"
                      name="education"
                      :options="educations"
                      v-model="updatedProfile.education"
                    ></b-form-select>
                  </b-form-group>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-12 form-group">
                  <label class="mt-3">Работодател</label>
                  <input
                    :class="errors.first('employer') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="employer"
                    type="text"
                    v-model="updatedProfile.employer"
                    v-validate="'required|max:64'">
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-6 form-group mb-5 mb-md-0">
                  <label class="mt-3">Позиция</label>
                  <input
                    :class="errors.first('position') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="position"
                    type="text"
                    v-model="updatedProfile.position"
                    v-validate="'required|max:64'">
                </div>

                <div class="col-md-6 form-group">
                  <label class="mt-3">Опит</label>
                  <input
                    :class="errors.first('employment_years') ? 'is-invalid': 'is-valid'"
                    class="form-control"
                    name="employment_years"
                    type="text"
                    v-model="updatedProfile.employment_years"
                    v-validate="'required|max_value: 100'">
                </div>
              </div>

              <div class="form-group mt-7">
                <button
                  class="btn btn-primary d-block d-md-inline-block"
                  @click="submit"
                >Промени
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload photo modal -->
    <b-modal
      id="uploadPhotoModalLabel"
      size="lg"
      hide-footer
    >
      <template slot="modal-header" slot-scope="{close}">
        <div></div>
        <b-button class="btn-lg" @click="close()" style="padding: 8px 18px;">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </b-button>
      </template>
      <template class="modal-body">
        <h5 class="text-display mb-5">Изберете профилна снимка</h5>
<!--        <vue-dropzone-->
<!--          :options="dropzoneOptions"-->
<!--          :include-styling="false"-->
<!--          v-on:vdropzone-thumbnail="thumbnail"-->
<!--          id="customdropzone">-->
<!--        </vue-dropzone>-->
        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
        <div class="container-upload">
          <i class="far fa-images container-upload-icon mb-5"></i>
          <p class="text-light mb-5">Плъзнете и поставете профилната си снимка тук или</p>
          <img :src="previewImage" class="uploading-image"/>
<!--          <label class="custom-file-upload">-->
<!--            <input type="file" accept="image/*" @change=uploadImage>-->
<!--            Изберете файл-->
<!--          </label>-->
          <button class="btn btn-primary" data-dismiss="modal">Изберете файл</button>
        </div>
      </template>
    </b-modal>
    <!-- Upload photo modal -->

    <!-- Validation model -->
    <b-modal
      id="bv-modal-validation"
      hide-header
      hide-footer
    >
      <ul>
        <li
          v-for="(error, i) in errors.all()"
          :key="i"
          class="text-danger"
        >{{ `- ${error}` }}
        </li>
      </ul>
      <button
        class="btn btn-outline-danger d-block d-md-inline-block mt-5"
        @click="$bvModal.hide('bv-modal-validation')"
      >Close
      </button>
    </b-modal>
    <!-- Validation model -->

  </div>
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';
import Datepicker from 'vuejs-datepicker';
import { en, bg } from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import IBAN from 'iban';
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import {
  assetsAmount,
  educations,
  irregularSourceOfIncome,
  irregularYearlyIncome,
  liabilities,
  mainSourceOfIncome,
  monthlyIncome,
  property,
  propertyAmount,
  savings,
  savingsAmount,
} from '../../store/options';

export default {
  name: 'Profile',
  components: {
    Datepicker,
    vueDropzone: vue2Dropzone,
  },
  data() {
    return {
      editIncome: false,
      assetsAmount,
      educations,
      fullName: '',
      isValidIBAN: false,
      irregularSourceOfIncome,
      irregularYearlyIncome,
      liabilities,
      mainSourceOfIncome,
      monthlyIncome,
      property,
      propertyAmount,
      savings,
      savingsAmount,
      selectedLiabilities: 'Имам',
      selectedProperty: 'Притежавам',
      selectedSavings: 'Имам',
      en,
      bg,
      updatedProfile: {
        address: '',
        assets_amount: '',
        birth_day: '1998-10-11',
        citizenships: [],
        city: '',
        document_expires_at: null,
        document_issued_at: null,
        document_issued_by: null,
        document_number: null,
        document_type: null,
        education: '',
        education_other: null,
        email: '',
        employer: '',
        employment_years: null,
        evrotrust_validated: null,
        first_name: '',
        gender: null,
        iban: '',
        id_back: null,
        id_front: null,
        irregular_source_of_income: [],
        irregular_source_of_income_others: null,
        irregular_yearly_income: '',
        last_name: '',
        liabilities_amount: '',
        mailing_address: '',
        mailing_city: '',
        main_source_of_income: [],
        main_source_of_income_others: null,
        monthly_income: '',
        onboarded: null,
        patronymic: '',
        phone: '',
        position: '',
        property_amount: null,
        savings_amount: '',
      },
      isValidated: true,
      validationResult: {},
      previewImage: null,
      image: null,
      dropzoneOptions: {
        url: 'https://httpbin.org/post',
        thumbnailWidth: 150,
        maxFilesize: 3,
        maxFiles: 1,
        headers: { "My-Awesome-Header": "header value" },
      },
    };
  },
  methods: {
    dropZoneTemplate() {
      return `<div class="dz-preview dz-file-preview">
              <div class="dz-image">
                  <div data-dz-thumbnail-bg></div>
              </div>
              <div class="dz-details">
                  <div class="dz-size"><span data-dz-size></span></div>
                  <div class="dz-filename"><span data-dz-name></span></div>
              </div>
              <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
              <div class="dz-error-message"><span data-dz-errormessage></span></div>
              <div class="dz-success-mark"><i class="fa fa-check"></i></div>
              <div class="dz-error-mark"><i class="fa fa-close"></i></div>
          </div>
          <button class="btn btn-primary" data-dismiss="modal">Изберете файл</button>
      `;
    },
    uploadImage(e) {
      const image = e.target.files[0];
      const formData = new FormData();
      formData.append('profile_picture', image);
      formData.append('email', this.updatedProfile.email)
      const csrftoken = window.$cookies.get('csrftoken');
      axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
      axios
        .put('/api/v1/accounts/profile/', formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          })
        .then(async () => {
          console.log('SUCCESS!!');
          await this.$store.dispatch('fetchProfile');
          this.updatedProfile = this.profile;
          this.$bvModal.hide('uploadPhotoModalLabel');
        })
        .catch(() => {
          console.log('FAILURE!!');
        });
    },
    onUploadPhoto() {
      this.$bvModal.show('uploadPhotoModalLabel');
    },
    onEditIncome() {
      if (this.editIncome) {
        this.submit();
      }
      this.editIncome = !this.editIncome;
    },
    onFullName() {
      try {
        const names = this.fullName.split(' ');
        this.updatedProfile.first_name = names[0];
        if (names.length > 2) {
          this.updatedProfile.patronymic = names[1];
          this.updatedProfile.last_name = names[2];
        } else if (names.length === 2) {
          this.updatedProfile.patronymic = '';
          this.updatedProfile.last_name = names[1];
        }

        return true;
      } catch (e) {
        return false;
      }
    },
    onGetIncomeData(option, val) {
      try {
        const result = option.filter(d => d.value === val);

        return result[0].text;
      } catch (e) {
        return '';
      }
    },
    onUpdatePhoto() {
      const elUploadPhoto = document.getElementById('uploadProfileImage');
      const elUpdatePhoto = document.getElementById('updateProfileImage');
      if (this.updatedProfile.profile_picture) {
        elUploadPhoto.removeClass('d-none');
        elUpdatePhoto.addClass('d-none');
      } else {
        elUploadPhoto.addClass('d-none');
        elUpdatePhoto.removeClass('d-none');
      }
    },
    onValidateIBAN() {
      this.errors.add({
        field: 'iban',
        msg: 'The iban field is invalid.',
      });
    },
    submit() {
      if (this.isValidated) {
        this.updatedProfile.profile_picture = this.image;
        this.updatedProfile.citizenships = this.updatedProfile.citizenships.toString().split(new RegExp(/[\s,]+/));
        this.onFullName();
        this.$store.dispatch('updateProfile', this.updatedProfile);
      } else {
        if (!this.isValidIBAN) this.onValidateIBAN();
        this.$bvModal.show('bv-modal-validation');
      }
    },
  },
  computed: {
    ...mapState({
      profile: state => state.profile.profile,
    }),
  },
  async mounted() {
    if (this.profile.id === undefined) {
      await this.$store.dispatch('fetchProfile');
    }
    this.updatedProfile = this.profile;
  },
  watch: {
    updatedProfile: {
      handler(val) {
        this.isValidIBAN = IBAN.isValid(val.iban);
        this.fullName = `${val.first_name}${val.patronymic ? ` ${val.patronymic}` : ''} ${val.last_name}`;
        this.updatedProfile.birth_day = moment(val.birth_day).format('YYYY-MM-DD');
        this.$validator.validate().then((valid) => {
          this.isValidated = valid && this.isValidIBAN;
        });
      },
      deep: true,
    },
  },
};
</script>

<style scoped>
  .example-avatar .avatar-upload .rounded-circle {
    width: 200px;
    height: 200px;
  }

  .example-avatar .text-center .btn {
    margin: 0 .5rem
  }

  .example-avatar .avatar-edit-image {
    max-width: 100%
  }

  .example-avatar .drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: .6;
    text-align: center;
    background: #000;
  }

  .example-avatar .drop-active h3 {
    margin: -.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
  }
</style>
