<template>
  <div>
    <RegistrationModal></RegistrationModal>
  </div>
</template>

<script>
import RegistrationModal from '@/components/Modals/Registration.vue';

export default {
  name: 'Registration',
  components: {
    RegistrationModal,
  },
};
</script>

<style scoped>

</style>
